<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4">
  <div class="justify-content-center">
    <p-card
      header="Total de planificaciones"
      subheader="Total de estudiantes por carrera en este año lectivo"
      [style]="{ width: '100%' }"
    >
      <ng-container *ngIf="(loading$ | async)!; else donut">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton
          class="flex items-center justify-center"
          shape="circle"
          width="90%"
          height="375px"
        ></p-skeleton>
      </ng-container>
      <ng-template #donut>
        <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
      </ng-template>
    </p-card>
  </div>
  <div class="col-4 justify-content-center">
    <p-card
      header="Carreras del Instituto Yavirac"
      subheader="Periodo lectivo por carrera"
      [style]="{ width: '100%' }"
    >
      <ng-container *ngIf="(loading$ | async)!; else donut">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton
          class="flex items-center justify-center"
          shape="circle"
          width="90%"
          height="375px"
        ></p-skeleton>
      </ng-container>
      <ng-template #donut>
        <p-chart
          type="doughnut"
          [data]="data1"
          [options]="options"
          [style]="{ width: '40%' }"
        ></p-chart>
      </ng-template>
    </p-card>
  </div>
  <div class="col-4 text-center">
    <p-card header="Duracion de cada curso" [style]="{ width: '100%' }">
      <ng-container *ngIf="(loading$ | async)!; else donut">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        <div class="flex items-center justify-center">
          <p-skeleton shape="circle" width="90%" height="375px"></p-skeleton>
        </div>
      </ng-container>
      <ng-template #donut>
        <p-chart
          type="pie"
          [data]="data2"
          [options]="options"
          [style]="{ width: '40%' }"
        ></p-chart>
      </ng-template>
    </p-card>
  </div>
</div>
