<p-toolbar>
  <h1 class="text-2xl">Configuracion</h1>
</p-toolbar>
<div class="flex justify-center items-center mt-5 gap-10 w-full mx-auto">
  <p-card [style]="{ width: '100%' }">
    <div class="w-96">
      <h1 class="text-2xl mb-6">Cambiar contraseña</h1>
      <div class="col-12 col-md-12 col-sm-12 col-xs-12">
        <div class="p-fluid">
          <form [formGroup]="formChangePassword" (ngSubmit)="onSubmit()">
            <div class="field">
              <label
                appLabel
                label="Contraseña actual"
                [valid]="currentPasswordField.valid"
                [touched]="currentPasswordField.touched"
                [dirty]="currentPasswordField.dirty"
                [required]="isRequired(currentPasswordField)"
              ></label>
              <p-password
                formControlName="currentPassword"
                [feedback]="false"
                [toggleMask]="true"
                class="w-full"
              >
              </p-password>
              <small
                appErrorMessage
                [errors]="currentPasswordField.errors"
                [touched]="currentPasswordField.touched"
                [dirty]="currentPasswordField.dirty"
              >
              </small>
            </div>
            <div class="field">
              <label
                appLabel
                label="Nueva Contraseña"
                [valid]="passwordField.valid"
                [touched]="passwordField.touched"
                [dirty]="passwordField.dirty"
                [required]="isRequired(passwordField)"
              >
              </label>
              <p-password
                promptLabel="Escriba su contraseña"
                weakLabel="Débil"
                mediumLabel="Nivel medio"
                strongLabel="Fuerte"
                formControlName="newPassword"
                [feedback]="true"
                [toggleMask]="true"
                class="w-full"
              >
              </p-password>
              <small
                appErrorMessage
                [errors]="passwordField.errors"
                [touched]="passwordField.touched"
                [dirty]="passwordField.dirty"
              >
              </small>
            </div>
            <div class="field">
              <label
                appLabel
                label="Confirmar contraseña"
                [valid]="rePasswordField.valid"
                [touched]="rePasswordField.touched"
                [dirty]="rePasswordField.dirty"
                [required]="isRequired(rePasswordField)"
              >
              </label>
              <p-password
                promptLabel="Escriba su contraseña"
                weakLabel="Débil"
                mediumLabel="Nivel medio"
                strongLabel="Fuerte"
                formControlName="confirm_password"
                [feedback]="true"
                [toggleMask]="true"
                class="w-full"
              >
              </p-password>
              <small
                appErrorMessage
                [errors]="rePasswordField.errors"
                [touched]="rePasswordField.touched"
                [dirty]="rePasswordField.dirty"
              >
              </small>
            </div>
            <p-divider></p-divider>
            <div class="field">
              <button
                pButton
                type="submit"
                pRipple
                [disabled]="formChangePassword.invalid"
                label="Confirmar"
                class="p-button-rounded p-button-success w-full"
                [icon]="
                  (loading$ | async) ? 'pi pi-spin pi-spinner' : 'pi pi-save'
                "
              ></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </p-card>
  <p-card [style]="{ width: '100%' }">
    <div class="w-96">
      <h1 class="text-2xl">Historial de cambios de contraseña</h1>
      <div class="mt-8">
        <p-timeline [value]="events">
          <ng-template pTemplate="content" let-event>
            {{ event.status }}
          </ng-template>
        </p-timeline>
      </div>
    </div>
  </p-card>
</div>
