<div class = "Card" style="width: 100%; margin: 0 auto;margin-top: 4%;" class="flex">
    <div class="col-3 p-sm-4 m-4">
        <p-card  [style]="{width: '340px'}" styleClass="p-card-shadow">

            <ng-template pTemplate="header">
                <h3 style="text-align: center;">Notas</h3>
            </ng-template>
            <h5>Primer Parcial</h5>
            <p style="text-align: left;">
                Nota: {{participantCourse.grade1}}
            </p>
            <h5>Segundo Parcial</h5>
            <p style="text-align: left;">
                Nota: {{participantCourse.grade2}}
            </p>            
            <ng-template pTemplate="footer">
                <h5>Nota Final:</h5>
                <p style="text-align:left;">
                    Nota: {{participantCourse.finalGrade}}
                </p>            
            </ng-template>
    
        </p-card>
    </div>
</div>


