<div class="container">
    <p-toolbar class="filter-options">
        <div class="p-toolbar-group-left">
          <div class="field col p-input-icon-right">
            <div class="p-inputgroup">
              <button pButton pRipple type="button" label="Regresar"
                      class="p-badge-info ml-2" icon="pi pi-arrow-left"
                      (click)="redirectCourse()"></button>
            </div>
          </div>
        </div>
      </p-toolbar>
    <p-card>
        <h5 style="text-align: center;margin-top: 2%;"><b>Asistencias</b></h5>
        <p-table 
            styleClass="p-datatable-striped"
            [value]="detailAttendances" 
            [responsive]="true"
            [columns]="cols"
            [loading]="(loaded$|async)!"
            >      
            <ng-template pTemplate="header" let-columns>
                <tr>
                <th style="text-align: center;" *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                </tr>
            </ng-template>
        
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr *ngIf="rowData['registeredAt'] != currentAttendance?.registeredAt!  || rowData['detailAttendances'][0].type?.name != null" [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td  style="text-align: center;">
                        <span >  
                            {{rowData['registeredAt']}}
                        </span>
                    </td>
                    <td  style="text-align: center;">
                        <span >    
                            {{rowData['detailAttendances'][0].type?.name}}
                        </span>
                    </td>
                    <td  style="text-align: center;">
                        <span >   
                            {{rowData['duration']}} min
                        </span>
                    </td>
                </tr>
                <tr *ngIf="rowData['id'] == currentAttendance?.id! && rowData['detailAttendances'][0].type?.name == null">
                    <td style="text-align: center;">
                        Asistencia del dia de hoy
                    </td>
                    <td style="text-align: center;">
                        {{currentAttendance?.registeredAt!}}
                    </td>
                    <td style="text-align: center;">
                        <button *ngIf="checkedAttendance" (click)="saveAttendance()" pButton type="button" label="Guardar asistencia" class="p-button-success">
                        </button>
                    </td>
                </tr>
              </ng-template>
              <!--<ng-template pTemplate="footer">
                <tr>
                    <td style="text-align: center;">
                        Asistencia del dia de hoy
                    </td>
                    <td style="text-align: center;">
                        {{currentAttendance?.registeredAt!}}
                    </td>
                    <td style="text-align: center;">
                        <button *ngIf="checkedAttendance" (click)="getDetailAttendanceCurrentDay()" pButton type="button" label="Guardar asistencia" class="p-button-success">
                        </button>
                    </td>
                </tr>
            </ng-template>-->
        </p-table>
    </p-card>
    <p-paginator [rows]="paginator.per_page!"
    [totalRecords]="paginator.total!"
    (onPageChange)="paginate($event)"></p-paginator>
</div>