<div class="w-full h-full flex content-center justify-center flex-1">
  <div
    class="flex flex-wrap flex-col prose prose-base justify-center content-center gap-10"
  >
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <input
        formControlName="cedula"
        type="text"
        placeholder="Cedula"
        class="input input-bordered input-warning w-full max-w-xs"
      />
      <input
        formControlName="clave"
        type="text"
        placeholder="Contraseña"
        class="input input-bordered input-warning w-full max-w-xs"
      />
      <button type="submit" class="btn btn-accent">Iniciar Sesion</button>
    </form>
  </div>
</div>
