<p-toast></p-toast>
<div class="flex justify-center items-center">
  <p-card class="w-full">
    <h2 class="text-xl text-center">
      <i class="fa-sharp fa-solid fa-check-to-slot fa-xl"></i>
      <strong class="ml-1">Mis cursos</strong>
    </h2>
  </p-card>
</div>
<p-toolbar>
  <div class="p-toolbar-group-end">
    <div class="relative">
      <input
        type="text"
        #inputSearch
        class="w-64 pl-8 pr-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500"
        placeholder="Buscar"
        [(ngModel)]="searchTerm"
      />
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center">
        <svg
          class="h-5 w-5 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 15l5-5-5-5"
          />
        </svg>
      </div>
    </div>
<!--     <p-button class="ml-4" styleClass="p-button-success">
      <i class="pi pi-sort-amount-down-alt"></i>
    </p-button> -->
    <p-button class="ml-4" (click)="toggleSortOrder()">
      <i [ngClass]="sortOrder === 'asc' ? 'pi pi-sort-amount-down' : 'pi pi-sort-amount-up'"></i>
    </p-button>
  </div>
</p-toolbar>

<br />

<div *ngIf="cursos.length === 0" class="text-center text-gray-500">
  <h3 *ngIf="!loading">No tienes cursos asignados</h3>
  <div class="flex justify-center items-center">
    <p-progressSpinner
      *ngIf="loading"
      [style]="{ 'width.px': '50', 'height.px': '50' }"
      strokeWidth="4"
      animationDuration="1s"
    ></p-progressSpinner>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <div *ngFor="let curso of coursesToDisplay; let i = index">
    <div>
      <p-card
        header="{{ curso.detailPlanification?.planificationCourse?.name }}"
        subheader="Código del curso: {{
          curso.detailPlanification.planificationCourse.codeCourse
        }}"
        [style]="{
          width: '300px',
          border:
            curso.detailPlanification?.planificationCourse?.course.state ===
            'Terminado'
              ? '2px solid green'
              : curso.detailPlanification?.planificationCourse?.course.state ===
                'Cerrado'
              ? '2px solid red'
              : ''
        }"
      >
        <ng-template pTemplate="header">
          <!-- <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          /> -->
          <img
            class="object-contain h-32"
            onerror='this.src = "https://primefaces.org/cdn/primeng/images/usercard.png" '
            [src]="curso.detailPlanification?.planificationCourse?.course.image"
            alt=""
            style="height: 2 rem"
          />
        </ng-template>

        <p>
          Modalidad:
          {{ curso.detailPlanification?.planificationCourse?.modality.name
          }}<br />
          Fecha de inicio:
          {{
            curso.detailPlanification?.planificationCourse.startDate
              | date : "yyyy-MM-dd"
          }}<br />
          Fecha de fin:
          {{
            curso.detailPlanification?.planificationCourse.finishDate
              | date : "yyyy-MM-dd"
          }}<br />
          Jornada: {{ curso.detailPlanification?.workday.name }}<br />
          Horario: {{ curso.detailPlanification?.startedTime }} -
          {{ curso.detailPlanification?.endedTime }}<br />
          <i class="pi pi-question-circle px-1" style="cursor: pointer;" (click)="showHelp()"></i>
          <p-dialog header="Estado del curso" [(visible)]="helpDialogVisible" [style]="{ width: '30%' }">
            <p>
            Se guía bajo las siguientes especificaciones:<br/>
            - <strong>Aprobado</strong>: Curso aprobado y en desarrollo<br/>
            - <strong>Terminado</strong>:  Curso finalizado<br/>
            </p>
          </p-dialog>
          Estado del curso:
          <p-dropdown
            [options]="statusOptions"
            optionLabel="label"
            optionValue="value"
            (onChange)="actualizarStatus($event, curso)"
            [ngModel]="
              curso.detailPlanification?.planificationCourse?.course.state
            "
          ></p-dropdown>
        </p>
        <ng-template pTemplate="footer">
          <p-button
            label="Detalles"
            icon="pi pi-check"
            (click)="
              redirect(
                curso.detailPlanification?.planificationCourse?.course?.id
              )
            "
          ></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

<p-paginator
  [rows]="itemsPerPage"
  [totalRecords]="filterCoursesByName(cursos, searchTerm).length"
  (onPageChange)="onPageChange($event)"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first} - {last} of {totalRecords}"
  [showPageLinks]="true"
  [showFirstLastIcon]="true"
></p-paginator>
