<div class="container">
  <div class="text-center p-5">
    <h1 class="text-5xl font-bold">Mis Cursos</h1>
  </div>

  <div class="flex justify-end items-center space-x-4 p-4">
    <div class="relative">
      <input
        type="text"
        #inputSearch
        class="w-64 pl-8 pr-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500"
        placeholder="Buscar"
        [(ngModel)]="filtroNombre"
        (input)="filtrarCursos()"
      />
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center">
        <svg
          class="h-5 w-5 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 15l5-5-5-5"
          />
        </svg>
      </div>
    </div>
    <button class="btn btn-primary" (click)="sortCards()">Ordenar</button>
  </div>

  <div>
    <div
      class="col-md-4 p-4"
      style="display: inline-block; width: 33%"
      *ngFor="let curso of cursos; let i = index"
    >


<p-card header="{{ curso.planificationCourse.name }}" subheader="Código del curso: {{ curso.planificationCourse.codeCourse }}" [style]="{
  width: '300px',

}" class="p-col-12 p-sm-6 p-md-4 p-lg-3">
  <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
  </ng-template>
  <p>
    Modalidad: {{ curso.workday.name }}<br/>
    Estado del curso: <label class="label cursor-pointer">
      <span class="text">{{
        curso.courseStatus ? "Terminado" : "En proceso"
      }}</span>
      <input
        type="checkbox"
        [(ngModel)]="curso.courseStatus"
        class="toggle"
        checked
      />
    </label>
  </p>
  <ng-template pTemplate="footer">
      <p-button label="Detalles" icon="pi pi-check"
      (click)="redirect(curso.planificationCourseId)"></p-button>
  </ng-template>
</p-card>


    </div>
  </div>
</div>
