<p-toast position="top-center"></p-toast>

<div class="p-fluid">

  <form [formGroup]="formDetailSchoolPeriod" (ngSubmit)="onSubmit()">
    <!--schoolPeriod-->
    <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
      <label for="schoolPeriod" appLabel label="Periodo Lectivo:"
             [required]="isRequired(schoolPeriodField)"
             [valid]="schoolPeriodField.valid"
             [touched]="schoolPeriodField.touched"
             [dirty]="schoolPeriodField.dirty">
      </label>
      <p-dropdown id="schoolPeriod"
                  formControlName="schoolPeriod"
                  dataKey="id"
                  [options]="schoolPeriods"
                  [filter]="true"
                  filterBy="name"
                  placeholder="Seleccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="schoolPeriodField.value">
            <div>{{schoolPeriodField.value?.name}}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div>
            <div>{{item.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <small appErrorMessage
             [errors]="schoolPeriodField.errors"
             [touched]="schoolPeriodField.touched"
             [dirty]="schoolPeriodField.dirty">
      </small>
    </div>

    <!-- ordinaryStartedAt & ordinaryEndedAt -->

    <div class="formgrid grid">
      <!-- ordinaryStartedAt -->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">

        <label for="ordinaryStartedAt" appLabel label="Inicio Ordinaria:"
               [required]="isRequired(ordinaryStartedAtField)"
               [valid]="ordinaryStartedAtField.valid"
               [touched]="ordinaryStartedAtField.touched"
               [dirty]="ordinaryStartedAtField.dirty">
        </label>
        <p-calendar inputId="basic" id="ordinaryStartedAt" formControlName="ordinaryStartedAt" dateFormat="yy-mm-dd"
                    [showIcon]="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [readonlyInput]="true"></p-calendar>
        <small appErrorMessage
               [errors]="ordinaryStartedAtField.errors"
               [touched]="ordinaryStartedAtField.touched"
               [dirty]="ordinaryStartedAtField.dirty">
        </small>
      </div>
      <!-- ordinaryEndedAt -->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="ordinaryEndedAt" appLabel label="Fin Ordinaria:"
               [required]="isRequired(ordinaryEndedAtField)"
               [valid]="ordinaryEndedAtField.valid"
               [touched]="ordinaryEndedAtField.touched"
               [dirty]="ordinaryEndedAtField.dirty">
        </label>
        <p-calendar id="ordinaryEndedAt" formControlName="ordinaryEndedAt" dateFormat="yy-mm-dd"
                    [showIcon]="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [readonlyInput]="true"></p-calendar>
        <small appErrorMessage
               [errors]="ordinaryEndedAtField.errors"
               [touched]="ordinaryEndedAtField.touched"
               [dirty]="ordinaryEndedAtField.dirty">
        </small>
      </div>
    </div>

    <!-- extraordinaryStartedAt & extraordinaryEndedAt -->

    <div class="formgrid grid">
      <!-- extraordinaryStartedAt -->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">

        <label for="extraordinaryStartedAt" appLabel label="Inicio Extraordinaria:"
               [required]="isRequired(extraordinaryStartedAtField)"
               [valid]="extraordinaryStartedAtField.valid"
               [touched]="extraordinaryStartedAtField.touched"
               [dirty]="extraordinaryStartedAtField.dirty">
        </label>
        <p-calendar id="extraordinaryStartedAt" formControlName="extraordinaryStartedAt" dateFormat="yy-mm-dd"
                    [showIcon]="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [readonlyInput]="true"></p-calendar>
        <small appErrorMessage
               [errors]="extraordinaryStartedAtField.errors"
               [touched]="extraordinaryStartedAtField.touched"
               [dirty]="extraordinaryStartedAtField.dirty">
        </small>
      </div>
      <!-- extraordinaryEndedAt -->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="extraordinaryEndedAt" appLabel label="Fin Extraordinaria:"
               [required]="isRequired(extraordinaryEndedAtField)"
               [valid]="extraordinaryEndedAtField.valid"
               [touched]="extraordinaryEndedAtField.touched"
               [dirty]="extraordinaryEndedAtField.dirty">
        </label>
        <p-calendar id="extraordinaryEndedAt" formControlName="extraordinaryEndedAt" dateFormat="yy-mm-dd"
                    [showIcon]="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [readonlyInput]="true"></p-calendar>
        <small appErrorMessage
               [errors]="extraordinaryEndedAtField.errors"
               [touched]="extraordinaryEndedAtField.touched"
               [dirty]="extraordinaryEndedAtField.dirty">
        </small>
      </div>
    </div>

    <!-- especialStartedAt & especialEndedAt -->

    <div class="formgrid grid">
      <!-- especialStartedAt -->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">

        <label for="especialStartedAt" appLabel label="Inicio Especiales:"
               [required]="isRequired(especialStartedAtField)"
               [valid]="especialStartedAtField.valid"
               [touched]="especialStartedAtField.touched"
               [dirty]="especialStartedAtField.dirty">
        </label>
        <p-calendar id="especialStartedAt" formControlName="especialStartedAt" dateFormat="yy-mm-dd"
                    [showIcon]="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [readonlyInput]="true"></p-calendar>
        <small appErrorMessage
               [errors]="especialStartedAtField.errors"
               [touched]="especialStartedAtField.touched"
               [dirty]="especialStartedAtField.dirty">
        </small>
      </div>
      <!-- especialEndedAt -->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="especialEndedAt" appLabel label="Fin Especiales:"
               [required]="isRequired(especialEndedAtField)"
               [valid]="especialEndedAtField.valid"
               [touched]="especialEndedAtField.touched"
               [dirty]="especialEndedAtField.dirty">
        </label>
        <p-calendar id="especialEndedAt" formControlName="especialEndedAt" dateFormat="yy-mm-dd"
                    [showIcon]="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [readonlyInput]="true"></p-calendar>
        <small appErrorMessage
               [errors]="especialEndedAtField.errors"
               [touched]="especialEndedAtField.touched"
               [dirty]="especialEndedAtField.dirty">
        </small>
      </div>
    </div>

    <!-- nullificationStartedAt & nullificationEndedAt -->

    <div class="formgrid grid">
      <!-- nullificationStartedAt -->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">

        <label for="nullificationStartedAt" appLabel label="Inicio Anulación:"
               [required]="isRequired(nullificationStartedAtField)"
               [valid]="nullificationStartedAtField.valid"
               [touched]="nullificationStartedAtField.touched"
               [dirty]="nullificationStartedAtField.dirty">
        </label>
        <p-calendar id="nullificationStartedAt" formControlName="nullificationStartedAt" dateFormat="yy-mm-dd"
                    [showIcon]="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [readonlyInput]="true"></p-calendar>
        <small appErrorMessage
               [errors]="nullificationStartedAtField.errors"
               [touched]="nullificationStartedAtField.touched"
               [dirty]="nullificationStartedAtField.dirty">
        </small>
      </div>
      <!-- nullificationEndedAt -->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="nullificationEndedAt" appLabel label="Fin Anulación:"
               [required]="isRequired(nullificationEndedAtField)"
               [valid]="nullificationEndedAtField.valid"
               [touched]="nullificationEndedAtField.touched"
               [dirty]="nullificationEndedAtField.dirty">
        </label>
        <p-calendar id="nullificationEndedAt" formControlName="nullificationEndedAt" dateFormat="yy-mm-dd"
                    [showIcon]="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [readonlyInput]="true"></p-calendar>
        <small appErrorMessage
               [errors]="nullificationEndedAtField.errors"
               [touched]="nullificationEndedAtField.touched"
               [dirty]="nullificationEndedAtField.dirty">
        </small>
      </div>
    </div>

    <!--*********************************************************************-->
    <!--onSubmit()-->
    <div class="field">
      <button pButton pRipple label="Guardar" class="p-button-rounded"
              icon="pi pi-save"></button>
    </div>

    <!--progressBar-->
    <div class="field" *ngIf="progressBar">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </div>
  </form>
</div>
