<div class="text-center">
    <p-chip styleClass="mr-2"> <i class="bi bi-file-earmark-person mr-2"></i> <small>Inscrito
            {{kpiModel.signedUp}}
        </small></p-chip>
    <p-chip styleClass="mr-2"> <i class="bi bi-file-earmark-break mr-2"></i> <small>En revisión
            {{kpiModel.inReview}}
        </small></p-chip>
    <p-chip styleClass="mr-2"> <i class="bi bi-file-earmark-ruled mr-2"></i> <small>Rectificado
            {{kpiModel.rectified}}
        </small></p-chip>
    <p-chip styleClass="mr-2"> <i class="bi bi-file-earmark-check mr-2"></i> <small>Matrículado
            {{kpiModel.registered}}
        </small></p-chip>
    <p-chip styleClass="mr-2"> <i class="bi bi-file-earmark-excel mr-2"></i> <small>Cancelado
            {{kpiModel.cancelled}}
        </small></p-chip>
</div>