<div class="container">
  <h1 class="mb-5">Tus Cursos Asignados</h1>
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <button
        pButton
        pRipple
        type="button"
        label="Refrescar"
        class="p-button-rounded ml-2"
        icon="pi pi-sync"
        (click)="planificationsAsign()"
      ></button>
      <!-- (click)="findAll()" -->
      <!-- <app-progress-bar *ngIf="progressBarDelete" [message]="messageService.progressBarDelete" class="ml-2">
      </app-progress-bar> -->
    </div>
    <div class="p-toolbar-group-right">
      <div class="p-inputgroup">
        <!-- <input pInputText id="search" [formControl]="search" (keypress)="filter($event)"> -->
        <input pInputText #inputSearch />

        <button pButton pRipple type="button" icon="pi pi-search"></button>
        <!-- (click)="filter(inputSearch.value)" -->
      </div>
    </div>
  </p-toolbar>

  <div class="p-1 flex flex-wrap">
    <div class="p-2" *ngFor="let item of allCourses">
      <p-card [header]="item.name" [style]="{ width: '250px' }">
        <ng-template pTemplate="header">
          <!-- <img
            class="h-8rem"
            onerror="this.src = 'assets/images/components/course/online-course.png' "
            [src]="
              STORAGE_URL +
              '/images/' +
              item.image +
              '/' +
              item.image +
              '-sm.jpg'
            "
            alt="card"
          /> -->
        </ng-template>
        <ng-template pTemplate="subtittle">
          Codigo: {{ item.codeCourse }} <br />
          Estado: {{ item.state }}
          {{ item.image }}
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="text-center">
            <div class="flex flex-row-reverse gap-1">
              <!-- {{ stateAprooved.statePlanification ? stateAprooved.statePlanification.length : 0 }} -->
            <button
              *ngIf="item.course.length > 0"
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-warning"
              (click)="editCourse(item)"
            ></button>
            <button
            *ngIf="item.course.length === 0"
              pButton
              pRipple
              type="button"
              icon="pi pi-plus-circle"
              class="p-button-rounded p-button-success"
              (click)="createCourse(item)"
            ></button>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
