<form [formGroup]="formDetailPlanificationInstructor" (ngSubmit)="onSubmit()">

  <div class=" p-fluid">
    <p-dropdown class="w-full" id="instructor" formControlName="instructorId" [options]="instructors" [filter]="true"
      filterBy="lastnames" placeholder="Seleccione" optionLabel="names" optionValue="id">
      <ng-template let-item pTemplate="item">
        <div>
          <div>{{ item.names }} {{ item.lastnames }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>

  <small appErrorMessage [errors]="instructorField.errors" [touched]="instructorField.touched"
    [dirty]="instructorField.dirty">
  </small>
  <small appErrorMessage class="text-red-500 text-sm" *ngIf="formDetailPlanificationInstructor.get('instructorId')?.hasError('invalidInstructor')">
    No se permite seleccionar un instructor repetido.
  </small>
  <p-divider></p-divider>

  <div class="formgrid grid">
    <!--onSubmit()-->
    <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
      <button pButton pRipple label="Asignar" class="p-button-rounded" icon="pi pi-save"></button>
    </div>
  </div>
</form>
<p-divider />
<div class="flex justify-center mt-1 ">
  <div class="container">
    <div class="w-full px-2 py-2 border-b border-zinc-400" *ngFor="let item of listInstructors">

      <div class="flex justify-between ...">
        <div class="w-7"><i class="pi pi-user" style="color: #4187ce"></i></div>
        <div class="w-full">
          <p class="text-semiBold">
            {{item?.instructor?.names}} {{item?.instructor?.names}}
          </p>
        </div>
        <div class="w-7">`<button (click)="deleteInstructor(item.id)"><i class="pi pi-trash"
              style="color: #ce4141"></i></button></div>
      </div>
    </div>
  </div>
</div>
