<!-- <div class="">
  <p-tabView>
      <p-fieldset legend="Temas y Subtemas">
        <p-accordion *ngFor="let topic of topics">
          <p-accordionTab header={{topic.description}} >
            <p-accordion *ngFor="let subtopic of topic!.children">
              <ul>
                <li>
                  <p style="display: inline-block;">{{subtopic.description | titlecase}}</p>
                  <div>
                    <button pButton pRipple class="p-button-rounded" label="Ver documentos"
                            icon="pi pi-eye" (click)="loadFiles(subtopic?.id)"></button>
                  </div>
                    <div *ngFor="let file of files">
                      <p style="display: inline-block;">{{file.name | titlecase}}</p>

                      <button pButton pRipple class="p-button-rounded" label="Ver documentos"
                            icon="pi pi-eye" (click)="downloadFile(file)"></button>
                    </div>
                </li>
              </ul>
            </p-accordion>
          </p-accordionTab>
        </p-accordion>
      </p-fieldset>
    </p-tabView>
</div> -->

<p-toolbar class="filter-options">
  <div class="p-toolbar-group-left">
    <div class="field col p-input-icon-right">
      <div class="p-inputgroup">
        <button
          pButton
          pRipple
          type="button"
          label="Regresar"
          class="p-badge-info ml-2"
          icon="pi pi-arrow-left"
          (click)="redirectCourse()"
        ></button>
      </div>
    </div>
  </div>
</p-toolbar>
<div class="card">
  <p-table [columns]="cols" [value]="topics" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          {{ rowData["description"] }}
        </td>
        <td *ngFor="let children of rowData['children']">
          <!-- <p-checkbox name="groupname" value="{{children.id}}" [(ngModel)]="selectedTopic"></p-checkbox> -->
          {{ children?.description }}
          <button
            pButton
            pRipple
            class="p-button-rounded"
            icon="pi pi-eye"
            label="Ver documento"
            (click)="loadFiles(children?.id)"
          ></button>
        </td>
        <td>
          <div *ngFor="let file of files">
            <p style="display: inline-block">
              {{ file.name | titlecase }}.{{ file.extension }}
            </p>

            <button
              pButton
              pRipple
              class="p-button-rounded"
              icon="pi pi-download"
              (click)="downloadFile(file)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
