<ul class="layout-menu">
  <p-menu
    *ngIf="user?.role?.name === 'admin'"
    [style]="{ width: '280px' }"
    [model]="itemsAdmin"
  ></p-menu>
  <p-menu
    *ngIf="user?.role?.name === 'coordinator_career'"
    [style]="{ width: '280px' }"
    [model]="itemsCoordinatorCareer"
  ></p-menu>
  <p-menu
    *ngIf="user?.role?.name === 'coordinator_cecy'"
    [style]="{ width: '280px' }"
    [model]="itemsCoordinatorCecy"
  ></p-menu>
  <p-menu
    *ngIf="user?.role?.name === 'responsible_course'"
    [style]="{ width: '280px' }"
    [model]="itemsDocente"
  ></p-menu>
  <p-menu
    *ngIf="user?.role?.name === 'instructor_execute'"
    [style]="{ width: '280px' }"
    [model]="itemsInstructorExecute"
  ></p-menu>
  <p-menu
    *ngIf="user?.role?.name === 'secretary_cecy'"
    [style]="{ width: '280px' }"
    [model]="itemsSecretary"
  ></p-menu>
</ul>
