<!-- ESTA SECCION ES DE BOTONES ----------------------------------------------------------------------------------->
<section class="container-buttons">
    <a style="margin-right:20px; margin-top:145px; text-decoration: none;" 
        pButton
        pRipple
        class="p-button-warning"
        href="../../../../../../assets/Certificates/Anexo-A7.xlsx"
        download="Anexo-A7.xlsx"
        target="_blank"
      ><i class="bi bi-download"></i>   Descargar Matriz</a>
    
      <a style="margin-right:20px; text-decoration: none;"
        pButton
        pRipple
        type="button"
        label="Plantilla"
        class="p-button-warning"
        href="../../../../../../assets/images/Prueba/Plantilla.jpg"
        data-lightbox="AnexoA7-Plantilla"
      ></a>
    
    <a style="margin-right:20px; text-decoration: none;"
          pButton
          pRipple
          type="button"
          (click)="showDialog()"
          label="Carga Datos"
          class="p-button-warning"
      ><i class="bi bi-upload"></i></a>
    
    
      
      <button style="margin-right:20px"
      pButton
      pRipple
      type="button"
      label="Generar Certificados"
      class="p-button-warning"
      ></button>
      
      <button style="margin-right:20px"
      pButton
      pRipple
      type="button"
      label="Descargar Certificados"
      (click)="showModalFiles2()"
      class="p-button-warning"
      ><i class="bi bi-download"></i></button>
      
      <button style="margin-right:20px"
      pButton
      pRipple
      type="button"
      label="Cargar Certificados firmados"
      (click)="showModalFiles()"
      class="p-button-warning"
      ><i class="bi bi-upload"></i></button>
    
      </section>
    
    <p></p>
    
        <!-- SECCION DE LA TABLA CON DATOS -->
    
        <p-table [value]="certificates" [paginator]="true" [rows]="10" >
            <ng-template pTemplate="header">
                <tr>
                    <th>id</th>
                    <th>tipo </th>
                    <th>Codigo</th>
                </tr>
            
            </ng-template>
            <ng-template pTemplate="body" let-certificate>
                <tr>

                  <td>{{certificate?.id}}</td>
                  <td>{{certificate?.type?.code}}</td>
                  <td>{{certificate?.code}}</td>
                    
                </tr>
    
              
    
            </ng-template>
        
        </p-table>
    
          <!-- SECCION DE CARGA DE ARCHIVO EXCEL -->
    
      <p-dialog header="Subir Archivos" [(visible)]="display">
        <input type="file"  multiple="false" />
        <table>
          <tbody>

           
            
          </tbody>
        </table>    
     <br>
        <button pButton pRipple type="button" label="Subir"><i class="bi bi-arrow-bar-up"></i></button>
    
    </p-dialog>
    
    
    
    <p-dialog header="Gestionar Archivos" [(visible)]="displayModalFiles" [modal]="true">
      <app-view-files [acceptAttributes]="'.pdf'"
                      [loadingUpload]="loadingUploadFiles"
                      [filesIn]="files"
                      [loadingFiles]="loadingFiles"
                      [paginatorIn]="paginatorFiles"
                      (files)="uploadFiles($event)"
                      (paginatorOut)="loadFiles()"
                      (searchOut)="filterFiles.setValue($event);loadFiles()">
      </app-view-files>
    </p-dialog>
    
    
    <p-dialog header="Gestionar Archivos" [(visible)]="displayModalFiles2" [modal]="true">
      <app-view-files [acceptAttributes]="'.pdf'"
                      [loadingUpload]="loadingUploadFiles"
                      [filesIn]="files"
                      [loadingFiles]="loadingFiles"
                      [paginatorIn]="paginatorFiles"
                      (files)="uploadFiles($event)"
                      (paginatorOut)="loadFiles()"
                      (searchOut)="filterFiles.setValue($event);loadFiles()">
      </app-view-files>
    </p-dialog>