<div class="prose-base">
  <h1>
    {{
      (nombreCursoApi$ | async)
        ? (nombreCursoApi$ | async | titlecase)
        : "Nombre de la carrera"
    }}
  </h1>
  <div class="flex flex-wrap gap-3 w-fit">
    <div class="form-control max-w-xs">
      <label class="label">
        <span class="label-text">Busca algún curso</span>
      </label>
      <input
        [(ngModel)]="inputSearch"
        type="text"
        placeholder="Busca aquí"
        class="input input-bordered input-warning w-full max-w-xs"
      />
      <label class="label"> </label>
    </div>
    <div class="pt-9">
      <button class="btn btn-secondary">Buscar</button>
    </div>
    <div class="pt-9">
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text px-4">Gratis</span>
          <input
            [(ngModel)]="checkedGratis"
            (change)="onChangeFreeCheckbox($event)"
            type="checkbox"
            class="checkbox checkbox-primary"
            [checked]="checkedGratis"
          />
          <!-- <input [(ngModel)]="checkedGratis" type="checkbox" [checked]="checkedGratis" -->
          <!-- class="checkbox checkbox-primary" /> -->
        </label>
      </div>
    </div>
    <div class="pt-9">
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text px-4">Pagados</span>
          <input
            [(ngModel)]="checkedPago"
            type="checkbox"
            [checked]="checkedPago"
            (change)="onChangeNonFreeCheckbox($event)"
            class="checkbox checkbox-primary"
          />
        </label>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-3">
    <app-curso-card
      *ngFor="
        let curso of cursosApi$
          | async
          | search : inputSearch
          | filterFree : checkedGratis
          | filterNonFree : checkedPago
      "
      [curso]="curso"
      [butonText]="'Ver Más'"
    ></app-curso-card>
  </div>
</div>
