<div *ngIf="!sendEmail; else sendTemplate" class="containerLogin">
  <div
    style="
      border-radius: 56px;
      padding: 0.3rem;
      background: linear-gradient(
        180deg,
        var(--primary-color) 10%,
        rgba(33, 150, 243, 0) 30%
      );
    "
  >
    <div class="w-full surface-card p-4" style="border-radius: 53px">
      <div class="row sizeForm">
        <div class="col-12 col-md-6 col-sm-12 imageCenter">
          <div class="p-fluid">
            <img
              alt=""
              src="assets/images/components/authentication/login/logoh2.png"
            />
          </div>
        </div>
        <div class="col-12 col-md-6 col-sm-12 col-xs-12">
          <div class="p-fluid">
            <div class="text-center">
              <h1>Restablezca su contraseña</h1>
              <p>
                Ingrese el correo electrónico con el que registro su cuenta del
                Cecy
              </p>
            </div>
            <form [formGroup]="formReset" (ngSubmit)="onSubmit()">
              <div class="field">
                <label
                  appLabel
                  label="Correo electrónico:"
                  for="username"
                  [required]="isRequired(emailField)"
                  [valid]="emailField.valid"
                  [touched]="emailField.touched"
                  [dirty]="emailField.dirty"
                >
                </label>
                <input type="text" pInputText formControlName="email" />
                <small
                  appErrorMessage
                  [errors]="emailField.errors"
                  [touched]="emailField.touched"
                  [dirty]="emailField.dirty"
                >
                </small>
              </div>
              <p-divider></p-divider>

              <div class="field">
                <button
                  pButton
                  pRipple
                  label="Restablecer contraseña"
                  class="p-button-rounded"
                  icon="pi pi-sign-in"
                ></button>
              </div>
              <div *ngIf="progressBar" class="field">
                <app-progress-bar
                  [message]="messageService.progressBarLogin"
                ></app-progress-bar>
              </div>
              <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Regresar"
                  class="p-button-outlined p-button-secondary"
                  routerLink="/login"
                ></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #sendTemplate>
  <div class="surface-ground flex justify-content-center containerFormRecovery">
    <div class="flex flex-column align-items-center justify-content-center">
      <div
        class="w-8 surface-card py-8 px-5 sm:px-4 flex flex-column align-items-center"
        style="border-radius: 53px"
      >
        <div class="grid flex flex-column align-items-center">
          <span
            style="size: 1px"
            class="text-900 font-bold text-4xl lg:text-5xl mb-2"
          >
            E-mail ha sido enviado
          </span>
          <span class="text-700 mb-5 text-center"
            >Consulte su bandeja de entrada para obtener instrucciones sobre
            cómo restablecer la contraseña.</span
          >
          <div class="flex justify-content-center align-items-center">
            <img
              src="assets/images/components/authentication/recovery-password/correo-enviado.png"
              alt="Access denied"
              width="30%"
              class="mb-5 text-50"
            />
          </div>
          <button
            pButton
            pRipple
            icon="pi pi-arrow-left"
            label="Iniciar sesión"
            class="p-button-raised mb-4 p-button-lg w-full"
            [routerLink]="['/login']"
          ></button>
          <div
            class="flex align-items-center justify-content-between mb-5 gap-1"
          >
            <div class="flex align-items-center">
              <span>¿No recibiste el correo electrónico?</span>
            </div>
            <a
              class="font-medium no-underline ml-2 text-right cursor-pointer"
              style="color: var(--primary-color)"
              (click)="sendEmail=false"
              >Reenviar</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
