<div
  *ngIf="!sendEmail; else sendTemplate"
  class="flex items-center justify-center w-full h-screen"
  style="background-color: rgb(239, 243, 248)"
>
  <div class="max-w-screen-lg mx-auto my-auto">
    <div
      class="bg-white p-20 rounded-lg flex flex-col md:flex-row items-center"
      style="border-radius: 56px"
    >
      <div class="hidden md:block w-full md:w-1/2">
        <img
          alt="Imagen"
          src="assets/images/components/authentication/login/logoh2.png"
          class="max-w-full h-auto"
        />
      </div>
      <div class="w-full md:w-1/2 mt-4 md:mt-0">
        <div class="">
          <div class="text-center mb-3">
            <h1 class="text-3xl font-semibold">Restablezca su contraseña</h1>
            <p class="mt-2 text-gray-500">
              Ingrese el correo electrónico con el que registro su cuenta del
              Cecy
            </p>
          </div>
          <form [formGroup]="formReset" (ngSubmit)="onSubmit()">
            <label
              appLabel
              label="Correo electrónico:"
              for="username"
              [required]="isRequired(emailField)"
              [valid]="emailField.valid"
              [touched]="emailField.touched"
              [dirty]="emailField.dirty"
            >
            </label>
            <input
              pInputText
              formControlName="email"
              class="w-full"
              placeholder="Ingrese su correo electrónico"
            />
            <small
              appErrorMessage
              [errors]="emailField.errors"
              [touched]="emailField.touched"
              [dirty]="emailField.dirty"
            >
            </small>
            <p-divider></p-divider>

            <div class="mb-2">
              <button
                pButton
                pRipple
                label="Restablecer contraseña"
                class="p-button-rounded w-full"
                [icon]="loading ? 'pi pi-spin pi-spinner' : 'pi pi-sign-in'"
              ></button>
            </div>
            <button
              pButton
              pRipple
              type="button"
              label="Regresar"
              class="p-button-outlined p-button-secondary w-full"
              routerLink="/login"
            ></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #sendTemplate>
  <div class="flex justify-center w-full h-screen items-center">
    <div class="flex flex-col items-center justify-center">
      <div
        class="bg-white p-20 sm:px-4 flex flex-column items-center"
        style="border-radius: 53px; width: 65%"
      >
        <div class="grid flex-col items-center">
          <span
            style="size: 1px"
            class="text-center text-900 font-bold text-4xl lg:text-5xl mb-2"
          >
            E-mail ha sido enviado
          </span>
          <span class="text-700 mb-5 text-center"
            >Consulte su bandeja de entrada para obtener instrucciones sobre
            cómo restablecer la contraseña.</span
          >
          <div class="flex justify-center items-center">
            <img
              src="assets/images/components/authentication/recovery-password/correo-enviado.png"
              alt="Access denied"
              width="30%"
              class="mb-5 text-50"
            />
          </div>
          <div class="m-4">
            <button
              pButton
              pRipple
              icon="pi pi-arrow-left"
              label="Iniciar sesión"
              class="p-button-raised mb-5 p-button-lg w-full"
              [routerLink]="['/login']"
            ></button>
            <div class="flex items-center justify-between mt-3 gap-1">
              <div class="flex items-center">
                <span>¿No recibiste el correo electrónico?</span>
              </div>
              <a
                class="font-medium no-underline ml-2 text-right cursor-pointer"
                style="color: var(--primary-color)"
                (click)="sendEmail = false"
                >Reenviar</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
