<p-toast position="top-center"></p-toast>
<p-dialog header="Imagen del Curso" [(visible)]="displayModalImages" [modal]="true">
  <app-view-files [acceptAttributes]="'.jpg, .jpeg, .png'" [loadingUpload]="loadingUploadImages"
    [loadingFiles]="loadingImages" [filesIn]="files" (files)="uploadImages($event)">
  </app-view-files>
</p-dialog>

<p-dialog header="Nuevo Sponsor" [(visible)]="visibleFormSponsor" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false"
>
  <!-- <app-sponsor-form></app-sponsor-form> -->
  <p-card>
    <form [formGroup]="formSponsor" (ngSubmit)="onSubmitSponsor()">
      <div class="formgrid grid">
        <div class="field">
          <label class="w-full" for="name" appLabel label="Categoria de Curso:" [required]="isRequired(nameField)"
            [valid]="nameField.valid" [touched]="nameField.touched" [dirty]="nameField.dirty">
          </label>

          <input class="w-full" pInputText id="name" formControlName="name" />
          <small appErrorMessage [errors]="nameField.errors" [touched]="nameField.touched" [dirty]="nameField.dirty">
          </small>
        </div>
        <div class="field ">
          <button  pButton pRipple label="Guardar" type="submit" class="p-button-rounded w-full" icon="pi pi-save"></button>
        </div>
      </div>
    </form>
  </p-card>
</p-dialog>

<!-- <div class="card-container blue-container flex align-items-center justify-content-start xl:col-2">
  <img  onerror="this.src = 'assets/images/components/course/online-course.png' " [src]="STORAGE_URL + '/' + imageField.value?.fullPathSMJpg" alt="">
  <button pButton type="text" pRipple label="Cargar" class="p-button-rounded" icon="pi pi-upload"
  (click)="showModalImages()"></button>
</div> -->
<p-card>
  <div class="p-fluid">
    <form [formGroup]="formCourse" (ngSubmit)="onSubmit()">
      <div class="text-center">
        <h5>Datos generales</h5>

      </div>
      <div class="container">
        <!-- duracion en horas y modalidad -->
        <div class="formgrid grid">
          <!-- duracion en horas -->
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="sponsor" appLabel label="Categoria de Curso:" [required]="isRequired(sponsorField)"
              [valid]="sponsorField.valid" [touched]="sponsorField.touched" [dirty]="sponsorField.dirty">
            </label>
            <div class="flex">
              <p-dropdown class="w-full" id="sponsor" formControlName="sponsorId" [options]="sponsors" [filter]="true" filterBy="name"
                placeholder="Seleccione" optionLabel="name" optionValue="id">
              </p-dropdown>
              <button (click)="showFormSponsor()" type="button" pButton icon="pi pi-plus-circle" styleClass="p-button-warn"></button>
            </div>
            <small appErrorMessage [errors]="sponsorField.errors" [touched]="sponsorField.touched"
              [dirty]="sponsorField.dirty">
            </small>
          </div>
          <!-- modalidad -->
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">

            <label for="modality" appLabel label="Modalidad de Curso:" [required]="isRequired(modalityField)"
              [valid]="modalityField.valid" [touched]="modalityField.touched" [dirty]="modalityField.dirty">
            </label>
            <p-dropdown id="modality" formControlName="modalityId" [options]="modalities" [filter]="true"
              filterBy="name" placeholder="Seleccione" optionLabel="name" optionValue="id" [disabled]="true">
            </p-dropdown>

            <small appErrorMessage [errors]="modalityField.errors" [touched]="modalityField.touched"
              [dirty]="modalityField.dirty">
            </small>
          </div>
        </div>
        <!-- categoria y entidad que valida -->

        <div class="formgrid grid">
          <!-- categoria de curso -->
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="category" appLabel label="Categoria de Curso:" [required]="isRequired(categoryField)"
              [valid]="categoryField.valid" [touched]="categoryField.touched" [dirty]="categoryField.dirty">
            </label>
            <p-dropdown id="category" formControlName="categoryId" [options]="categories" [filter]="true"
              filterBy="name" placeholder="Seleccione" optionLabel="name" optionValue="id">
            </p-dropdown>
            <small appErrorMessage [errors]="categoryField.errors" [touched]="categoryField.touched"
              [dirty]="categoryField.dirty">
            </small>
          </div>
          <!-- entidad que valida -->
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="entityCertification" appLabel label="Entidad que valida:"
              [required]="isRequired(entityCertificationField)" [valid]="entityCertificationField.valid"
              [touched]="entityCertificationField.touched" [dirty]="entityCertificationField.dirty">
            </label>
            <p-dropdown id="entityCertification" formControlName="entityCertificationId"
              [options]="entityCertifications" [filter]="true" filterBy="name" placeholder="Seleccione"
              optionLabel="name" optionValue="id">
            </p-dropdown>
            <small appErrorMessage [errors]="entityCertificationField.errors"
              [touched]="entityCertificationField.touched" [dirty]="entityCertificationField.dirty">
            </small>
          </div>
        </div>

        <!-- tipo de curso y tipo de certificado -->

        <div class="formgrid grid">
          <!-- tipo de curso -->
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="courseType" appLabel label="Tipo de Curso:" [required]="isRequired(courseTypeField)"
              [valid]="courseTypeField.valid" [touched]="courseTypeField.touched" [dirty]="courseTypeField.dirty">
            </label>
            <p-dropdown id="courseType" formControlName="courseTypeId" [options]="courseTypes" [filter]="true"
              filterBy="name" placeholder="Seleccione" optionLabel="name" optionValue="id">
            </p-dropdown>
            <small appErrorMessage [errors]="courseTypeField.errors" [touched]="courseTypeField.touched"
              [dirty]="courseTypeField.dirty">
            </small>
          </div>
          <!-- tipo de certificado -->
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="certifiedType" appLabel label="Tipo de Certificado:"
              [required]="isRequired(certificationTypeField)" [valid]="certificationTypeField.valid"
              [touched]="certificationTypeField.touched" [dirty]="certificationTypeField.dirty">
            </label>
            <p-dropdown id="certifiedType" formControlName="certifiedTypeId" [options]="certifiedTypes" [filter]="true"
              filterBy="name" placeholder="Seleccione" optionLabel="name" optionValue="id">
            </p-dropdown>
            <small appErrorMessage [errors]="certificationTypeField.errors" [touched]="certificationTypeField.touched"
              [dirty]="certificationTypeField.dirty">
            </small>
          </div>
        </div>
        <!-- Tipo de Curso 2 (Webinar, etc) -->

        <div class="formgrid grid">
          <!-- tipo de curso 2 -->
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="formationType" appLabel label="Seleccione Tipo de Formacion"
              [required]="isRequired(formationTypeField)" [valid]="formationTypeField.valid"
              [touched]="formationTypeField.touched" [dirty]="formationTypeField.touched"></label>
            <p-dropdown id="formationType" dataKey="id" formControlName="formationTypeId" [options]="formationTypes"
              [filter]="true" filterBy="name" placeholder="Seleccione" optionLabel="name" optionValue="id">
            </p-dropdown>
            <small appErrorMessage [errors]="formationTypeField.errors" [touched]="formationTypeField.touched"
              [dirty]="formationTypeField.dirty">
            </small>
          </div>
          <!-- abreviatura -->
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="abbreviation" appLabel label="Abreviatura:" [required]="isRequired(abbreviationField)"
              [valid]="abbreviationField.valid" [touched]="abbreviationField.touched" [dirty]="abbreviationField.dirty">
            </label>
            <input pInputText id="abbreviation" formControlName="abbreviation" />
            <small appErrorMessage [errors]="abbreviationField.errors" [touched]="abbreviationField.touched"
              [dirty]="abbreviationField.dirty">
            </small>
          </div>
        </div>

        <!-- grupo al que va dirigido y sector al que va dirigido -->
        <div class="formgrid grid">
          <!-- grupo al que va dirigido -->
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="targetGroups" appLabel label="Grupo al que va dirigido"
              [required]="isRequired(targetGroupsField)" [valid]="targetGroupsField.valid"
              [touched]="targetGroupsField.touched" [dirty]="targetGroupsField.touched"></label>
            <!-- <p-multiSelect id="targetGroups" formControlName="targetGroups" dataKey="name" [options]="targetGroups"
              [filter]="true" filterBy="name" placeholder="Seleccione" display="chip" optionLabel="name"
              optionValue="id">
              <ng-template let-value pTemplate="selectedItems">
                <div class="country-item country-item-value" *ngFor="let option of targetGroupsField.value">
                  <div>{{ option?.name }}</div>
                </div>
                <div *ngIf="
                    !targetGroupsField.value ||
                    targetGroupsField.value.length === 0
                  " class="country-placeholder">
                  Seleccionar:
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{ item.name }}</div>
                </div>
              </ng-template>
            </p-multiSelect> -->
            <p-multiSelect [options]="targetGroups" optionLabel="name" formControlName="targetGroups"
              [readonly]="this.courseStatus === 'APROBADO'? true : false"></p-multiSelect>

            <small appErrorMessage [errors]="targetGroupsField.errors" [touched]="targetGroupsField.touched"
              [dirty]="targetGroupsField.dirty">
            </small>
          </div>
          <!-- tipo de participante -->
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="participantTypes" appLabel label="Tipo de participante"
              [required]="isRequired(participantTypeField)" [valid]="participantTypeField.valid"
              [touched]="participantTypeField.touched" [dirty]="participantTypeField.touched"></label>
            <!-- <p-multiSelect id="participantTypes" formControlName="participantTypes" [options]="participantTypes"
              [filter]="true" optionLabel="name" filterBy="name" placeholder="Seleccione" display="chip"
              [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
              [readonly]="this.courseStatus === 'APROBADO'? true : false">
            </p-multiSelect> -->
            <p-multiSelect [options]="participantTypes" optionLabel="name" formControlName="participantTypes"
              [readonly]="this.courseStatus === 'APROBADO'? true : false"></p-multiSelect>
            <small appErrorMessage [errors]="participantTypeField.errors" [touched]="participantTypeField.touched"
              [dirty]="participantTypeField.dirty">
            </small>
          </div>

          <!-- <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label
              for="participantTypes"
              appLabel
              label="Grupo al que va dirigido"
              [required]="isRequired(participantTypeField)"
              [valid]="participantTypeField.valid"
              [touched]="participantTypeField.touched"
              [dirty]="participantTypeField.touched"
            ></label>
            <p-multiSelect
              id="participantTypes"
              formControlName="participantTypes"
              dataKey="name"
              [options]="participantTypes"
              [filter]="true"
              filterBy="name"
              placeholder="Seleccione"
              display="chip"
              optionLabel="name"
            >
              <ng-template let-value pTemplate="selectedItems">
                <div
                  class="country-item country-item-value"
                  *ngFor="let option of participantTypeField.value"
                >
                  <div>{{ option.name }}</div>
                </div>
                <div
                  *ngIf="
                    !participantTypeField.value ||
                    participantTypeField.value.length === 0
                  "
                  class="country-placeholder"
                >
                  Seleccionar:
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{ item.name }}</div>
                </div>
              </ng-template>
            </p-multiSelect>

            <small
              appErrorMessage
              [errors]="participantTypeField.errors"
              [touched]="participantTypeField.touched"
              [dirty]="participantTypeField.dirty"
            >
            </small>
          </div> -->
        </div>

        <!-- resumen y proyecto de curso -->

        <div class="formgrid grid">
          <!-- Resumen -->
          <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
            <label for="summary" appLabel label="Resumen del Curso" [required]="isRequired(summaryField)"
              [valid]="summaryField.valid" [touched]="summaryField.touched" [dirty]="summaryField.dirty"></label>
            <textarea pInputTextarea pInputText id="summary" formControlName="summary" class="uppercase"></textarea>
            <small appErrorMessage [errors]="summaryField.errors" [touched]="summaryField.touched"
              [dirty]="summaryField.dirty">
            </small>
          </div>
          <!-- proyecto de curso -->
          <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
            <label for="project" appLabel label="Proyecto del Curso" [required]="isRequired(projectFiled)"
              [valid]="projectFiled.valid" [touched]="projectFiled.touched" [dirty]="projectFiled.dirty"></label>
            <textarea pInputTextarea pInputText id="project" formControlName="project" class="uppercase"></textarea>
            <small appErrorMessage [errors]="projectFiled.errors" [touched]="projectFiled.touched"
              [dirty]="projectFiled.dirty">
            </small>
          </div>
        </div>

        <!-- addNeed() -->
        <div class="formgrid grid">
          <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
            <button pButton pRipple type="button" label="Añadir Necesidades" class="p-button-secondary p-button-rounded"
              icon="pi pi-plus" (click)="addNeed()"></button>
          </div>
        </div>

        <!-- Needs -->
        <!--needs-->
        <div formArrayName="needs">
          <div *ngFor="let need of needsField.controls; let i = index">
            <div class="formgrid grid">
              <div class="field xl:col-2 lg:col-2 md:col-12 sm:col-12">
                <label [for]="'need' + i" appLabel [label]="'Necesidad ' + (i + 1) + ':'"
                  [required]="isRequired(needsField.controls[i])" [valid]="needsField.controls[i].valid"
                  [touched]="needsField.controls[i].touched" [dirty]="needsField.controls[i].dirty"></label>
              </div>
              <div class="field xl:col-9 lg:col-9 md:col-12 sm:col-12">
                <input pInputText [id]="'need' + i" [formControlName]="i" class="text-uppercase" />
                <small appErrorMessage [errors]="needsField.controls[i].errors"
                  [touched]="needsField.controls[i].touched" [dirty]="needsField.controls[i].dirty">
                </small>
              </div>
              <div class="field xl:col-1 lg:col-1 md:col-12 sm:col-12">
                <button pButton pRipple type="button" (click)="removeNeeds(i)" iconPos="right" icon="pi pi-trash"
                  class="p-button-danger p-button-rounded"></button>
              </div>
            </div>
          </div>
          <!-- <small appErrorMessage [errors]="needsField.controls.errors"
                  [touched]="needsField.controls.touched" [dirty]="needsField.controls.dirty">
                </small> -->
          <p-divider></p-divider>
        </div>
        <div class="field">
          <button pButton pRipple label="Guardar" type="submit" class="p-button-rounded" icon="pi pi-save"></button>
        </div>
      </div>
    </form>
  </div>
</p-card>
