<p-toast></p-toast>
<p-toolbar>
  <div class="p-toolbar-group-start gap-2">
    <button
      pButton
      type="button"
      id="volver"
      class="p-button p-button-outlined"
      icon="pi pi-arrow-left"
      (click)="regresar()"
      label="Volver"
    ></button>
    <button
      pButton
      type="button"
      id="asistencia"
      class="p-button p-button-primary"
      icon="pi pi-user-plus"
      (click)="redireccionar()"
      label="asistencia"
    ></button>
  </div>
</p-toolbar>
<div class="flex m-4">
  <div class="flex-1">
    <h1 class="text-2xl font-semi-bold">Listado de Estudiantes</h1>
  </div>
  <div class="">
    <div class="p-inputgroup">
      <input
        pInputText
        id="search"
        placeholder="Buscar por nombre"
        [(ngModel)]="nombreFiltrado"
        (input)="filtrarPorNombre()"
        (keypress)="filtrarPorNombre()"
      />
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-search"
        (click)="filtrarPorNombre()"
      ></button>
    </div>
  </div>
</div>
<p-table
  [value]="estudiantes$ | async | nombreFilter : nombreFiltrado"
  [responsive]="true"
  class="p-datatable"
>
  <ng-template pTemplate="header">
    <tr>
      <th>CEDULA</th>
      <th>NOMBRE</th>
      <th>% ASISTENCIA</th>
      <th>NOTA 1</th>
      <th>NOTA 2</th>
      <th>PROMEDIO</th>
      <th>ESTADO</th>
      <th>ACCIONES</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-matricula>
    <tr>
      <td>
        {{
          matricula.estudiantes
            ? matricula.estudiantes.cedula
            : "Sin Estudiante"
        }}
      </td>
      <td>
        {{
          matricula.estudiantes
            ? matricula.estudiantes.nombres
            : "Sin Estudiante"
        }}
      </td>
      <td>
        <p-inputNumber
          id="asistencia"
          [(ngModel)]="matricula.porcentajeAsistencia"
          placeholder="Ingrese el % asistencia"
          [min]="1"
          [max]="100"
          [showButtons]="true"
          [buttonLayout]="'horizontal'"
          (keydown)="validarNumero($event)"
        ></p-inputNumber>
      </td>
      <td>
        <p-inputNumber
          id="nota1"
          [(ngModel)]="matricula.nota1"
          placeholder="Ingrese una nota"
          [min]="1"
          [max]="100"
          [showButtons]="true"
          [buttonLayout]="'horizontal'"
          (keydown)="validarNumero($event)"
        ></p-inputNumber>
      </td>
      <td>
        <p-inputNumber
          id="nota2"
          [(ngModel)]="matricula.nota2"
          placeholder="Ingrese una nota"
          [min]="1"
          [max]="100"
          [showButtons]="true"
          [buttonLayout]="'horizontal'"
          (keydown)="validarNumero($event)"
        ></p-inputNumber>
      </td>
      <td>{{ matricula.promedio }}</td>
      <td>{{ matricula.estadoCurso.descripcion }}rr</td>
      <td>
        <button
          pButton
          type="button"
          class="p-button p-button-rounded p-button-success"
          (click)="guardarNotas($event, matricula)"
        >
          Guardar
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" style="width: 100%">No hay estudiantes</td>
    </tr>
  </ng-template>
</p-table>
<button
  pButton
  type="button"
  class="p-button p-button-success"
  icon="pi pi-download"
  id="excel"
  (click)="generarExcel()"
>
  ㅤGenerar Excel
</button>
