
<div class="cabezera flex justify-start">
  <div class="m-1 flex justify-end">
    <button class="btn mx-2" (click)="generateReports()" >Generar Reporte</button>
  </div>
  <div class="m-1 flex justify-end">
    <button class="btn mx-2" (click)="downloadXls(validateReportEntity.id)" >Descargar Reporte</button>
  </div>
<div class="grid grid-cols-2 mt-10 ">
  <p-card
    class="w-96 m-4 place-items-center ">
    <div class="card-body items-center text-center">
      <div class="card-actions mx-2">
        <table class="table table-compact w-full">
          <th>Aprobados</th>
          <tr class="text-center">{{cursoEstudianteLista.aprobado}}</tr>
        </table>
      </div>
    </div>
  </p-card>

  <p-card
    class="w-96 m-4 place-items-center">
    <div class="card-body items-center text-center">
      <div class="card-actions  mx-2">
        <table class="table table-compact w-full">
          <th>Reprobados</th>
          <tr class="text-center">{{cursoEstudianteLista.reprobado}}</tr>
        </table>
      </div>
    </div>
  </p-card>
</div>


