<p-toast position="top-center"></p-toast>

<div class="p-fluid">
  <form [formGroup]="formParticipant" (ngSubmit)="onSubmit()">
      <!--username-->
      <div class="field">
          <label for="username" appLabel label="Número de cedula:"
                 [required]="isRequired(usernameField)"
                 [valid]="usernameField.valid"
                 [touched]="usernameField.touched"
                 [dirty]="usernameField.dirty">
          </label>
          <input pInputText id="username" formControlName="username">
          <small appErrorMessage
                 [errors]="usernameField.errors"
                 [touched]="usernameField.touched"
                 [dirty]="usernameField.dirty">
          </small>
      </div>

      <!--lastname-->
      <div class="field">
        <label for="lastname" appLabel label="Apellidos:"
               [required]="isRequired(lastnameField)"
               [valid]="lastnameField.valid"
               [touched]="lastnameField.touched"
               [dirty]="lastnameField.dirty">
        </label>
        <input pInputText id="lastname" formControlName="lastname">
        <small appErrorMessage
               [errors]="lastnameField.errors"
               [touched]="lastnameField.touched"
               [dirty]="lastnameField.dirty">
        </small>
      </div>

    <!--name-->
      <div class="field">
          <label for="name" appLabel label="Nombres:"
                 [required]="isRequired(nameField)"
                 [valid]="nameField.valid"
                 [touched]="nameField.touched"
                 [dirty]="nameField.dirty">
          </label>
          <input pInputText id="name" formControlName="name">
          <small appErrorMessage
                 [errors]="nameField.errors"
                 [touched]="nameField.touched"
                 [dirty]="nameField.dirty">
          </small>
      </div>

    <!--email-->
      <div class="field">
       <label for="email" appLabel label="Correo:"
              [required]="isRequired(emailField)"
              [valid]="emailField.valid"
              [touched]="emailField.touched"
              [dirty]="emailField.dirty">
       </label>
       <input pInputText id="email" formControlName="email">
       <small appErrorMessage
             [errors]="emailField.errors"
             [touched]="emailField.touched"
             [dirty]="emailField.dirty">
       </small>
    </div>

    <!--type-->
    <div class="field">
      <label for="type" appLabel label="Tipo:"
             [required]="isRequired(typeField)"
             [valid]="typeField.valid"
             [touched]="typeField.touched"
             [dirty]="typeField.dirty">
      </label>
      <p-dropdown id="type"
                  formControlName="type"
                  dataKey="id"
                  [options]="types"
                  [filter]="true"
                  filterBy="name"
                  placeholder="Seleccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="typeField.value">
            <div>{{typeField.value?.name}}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div>
            <div>{{item.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <small appErrorMessage
             [errors]="typeField.errors"
             [touched]="typeField.touched"
             [dirty]="typeField.dirty">
      </small>
    </div>

    <!--phone-->
    <div class="field">
      <label for="phone" appLabel label=" Teléfono:"
             [required]="isRequired(phoneField)"
             [valid]="phoneField.valid"
             [touched]="phoneField.touched"
             [dirty]="phoneField.dirty">
      </label>
      <input pInputText id="phone" formControlName="phone">
      <small appErrorMessage
           [errors]="phoneField.errors"
           [touched]="phoneField.touched"
           [dirty]="phoneField.dirty">
      </small>
     </div>

    <p-divider></p-divider>

    <!--onSubmit()-->
    <div class="field">
      <button pButton type="submit" pRipple label="Guardar" class="p-button-rounded" icon="pi pi-save"></button>
    </div>

    <!--progressBar-->
    <div class="field" *ngIf="progressBar">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </div>
  </form>
</div>