<p-toast position="top-center"></p-toast>

<div class="p-fluid">
  <form [formGroup]="formCourse" (ngSubmit)="onSubmit()">
    <!--conocimiento-->
    <div class="field">
      <label for="conocimiento" appLabel label="Conocimiento:" [required]="isRequired(conocimientoField)"
        [valid]="conocimientoField.valid" [touched]="conocimientoField.touched" [dirty]="conocimientoField.dirty">
      </label>
      <input pInputText id="conocimiento"#kanogledges formControlName="conocimiento" class="uppercase">
      <small appErrorMessage [errors]="conocimientoField.errors" [touched]="conocimientoField.touched"
        [dirty]="conocimientoField.dirty">
      </small>
      <div class=" p-field-group-right">
        <div pButton pRipple type=" button" (click) ="addKanogledges(kanogledges.value)" class=" p-button-rounded ml-2" icon="pi pi-plus"></div>
        <button pButton pRipple type="button" (click) ="deleteKanogledges()" class="p-button-rounded p-button-danger p-button-sm ml-2"
          icon="pi pi-trash">
        </button>
      </div>

      <div *ngFor="let conocimiento of conocimiento">
        {{conocimiento}}
      </div>
    </div>
    

    <!--experiencia-->
    <div class="field">
      <label for="experiencia" appLabel label="Experiencia:" [required]="isRequired(experienciaField)"
        [valid]="experienciaField.valid" [touched]="experienciaField.touched" [dirty]="experienciaField.dirty">
      </label>
      <input pInputText id="experiencia"#experiense formControlName="experiencia">
      <small appErrorMessage [errors]="experienciaField.errors" [touched]="experienciaField.touched"
        [dirty]="experienciaField.dirty">
      </small>
      <div class=" p-field-group-right">
        <div pButton pRipple type=" button" (click) ="addExperiense(experiense.value)"class=" p-button-rounded ml-2" icon="pi pi-plus"></div>
        <button pButton pRipple type="button" (click) ="deleteExperiense()" class="p-button-rounded p-button-danger p-button-sm ml-2"
          icon="pi pi-trash">
        </button>
      </div>
      <div *ngFor="let experiencia of experiencia">
        {{experiencia}}
      </div>
    </div>

    <!--habilidades-->
    <div class="field">
      <label for="habilidades" appLabel label="Habilidades:" [required]="isRequired(habilidadesField)"
        [valid]="habilidadesField.valid" [touched]="habilidadesField.touched" [dirty]="habilidadesField.dirty">
      </label>
      <input pInputText id="habilidades"#skills formControlName="habilidades">
      <small appErrorMessage [errors]="habilidadesField.errors" [touched]="habilidadesField.touched"
        [dirty]="habilidadesField.dirty">
      </small>
      <div class=" p-field-group-right">
        <div pButton pRipple type=" button" (click) ="addSkills(skills.value)" class=" p-button-rounded ml-2" icon="pi pi-plus"></div>
        <button pButton pRipple type="button" (click) ="deleteSkills()" class="p-button-rounded p-button-danger p-button-sm ml-2" icon="pi pi-trash">
        </button>
      </div>
      <div *ngFor="let habilidad of habilidad">
        {{habilidad}}
      </div>
    </div>

    <p-divider></p-divider>

    <!--onSubmit()-->
    <div class="field">
      <button pButton type="submit" pRipple label="Guardar" class="p-button-rounded" icon="pi pi-save"></button>
    </div>

    <!--progressBar-->
    <div class="field" *ngIf="progressBar">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </div>
  </form>
</div>



