$colorPrimario: #002a32;

@function get-text-color($color) {
  @if (lightness($color) > 80) {
    @return #000;
  } @else {
    @return #fff;
  }
}

.contenido {
  width: 83%;
  position: relative;
  top: 0;
  left: 8%;
}
