<nav class="flex items-center mb-5 p-4 bg-white shadow-md">
  <div class="flex items-center">
    <img
      src="assets/layout/images/logo-dark.svg"
      alt="Logo"
      class="w-10 h-10 mr-2"
    />
    <span class="font-semibold"><a routerLink="">CECY</a></span>
  </div>
  <div class="ml-4"><a [routerLink]="['']">Inicio</a></div>
  <div class="ml-auto">
    <ul class="flex space-x-4 items-center">
      <li class=""><a [routerLink]="['courses']">Cursos</a></li>
      <li class=""><a [routerLink]="['mis-cursos']"> Mi Aprendizaje</a></li>
      <li>
        <p-menu #menu [model]="items" [popup]="true"> </p-menu>
        <p-button
          (click)="menu.toggle($event)"
          label="{{ student?.nombres }}"
          styleClass="mr-2"
          size="large"
          [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
        ></p-button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
