<div class="botones">
  <button class="btn btn-accent" (click)="redireccionar()">Fecha</button>&nbsp;
  <!-- <button class="btn btn-accent" routerLink="../registro-fotografico">Registro Fotográfico </button> &nbsp; -->
</div>
<br />
<h2>LISTA DE ESTUDIANTES</h2>
<br />
<div class="bg-white border-b light:bg-gray-800 light:border-gray-700 hover:bg-gray-50" rows="5" cols="35">
  <br />
  <a class="text-black">P=PRESENTE</a>&nbsp;
  <a class="text-black">A=AUSENTE</a>&nbsp;
  <a class="text-black">FJ=FALTA JUSTIFICADA</a>
</div>
<div class="relative overflow-x-auto shadow-md">
  <div class="bg-white border-b light:bg-gray-800 light:border-gray-700 hover:bg-gray-50">
    <br />
    <br />
    <div
      class="bg-white border-b light:bg-gray-800 light:border-gray-700 hover:bg-gray-50 group bg-white-100 shadow-xs rounded-box">
      <table class="table w-full group shadow-xs rounded-box">
        <thead class="bg-white">
          <tr class="text-lg text-white">
            <th>Nombres</th>
            <th>P</th>
            <th>A</th>
            <th>FJ</th>
          </tr>
        </thead>
        <tbody class="text-lg text-white">
          <tr *ngFor="let estudiante of estudiantes$ | async">
            <th>{{ estudiante.estudiantes.nombres }}</th>
            <td>
              <input type="radio" [name]="estudiante.id" class="form-check-input" />
            </td>
            <td>
              <input type="radio" [name]="estudiante.id" class="form-check-input" />
            </td>
            <td>
              <input type="radio" [name]="estudiante.id" class="form-check-input" />
            </td>
          </tr>
        </tbody>
      </table>
      <!-- {{ estudiantes$ | async | json }} -->
      <!-- <table> -->
      <!--   <tbody> -->
      <!--     <tr -->
      <!--       class="bg-white border-b light:bg-gray-800 light:border-gray-700 hover:bg-gray-50 light:hover:bg-gray-600"> -->
      <!--       <th *ngFor="let estudiante of estudiantes$ | async" scope="row" -->
      <!--         class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap light:text-white"> -->
      <!--         {{ -->
      <!--         estudiante.estudiantes -->
      <!--         ? estudiante.estudiantes.nombres -->
      <!--         : "sin datos" -->
      <!--         }} -->
      <!--       </th> -->
      <!--     </tr> -->
      <!--   </tbody> -->
      <!-- </table> -->
    </div>
  </div>
  <div class="form-group">
    <label with px-2 class="text-lg text-black">Observaciones:</label>
    <br />
    <textarea placeholder="Ingrese las obervaciones desarrolladas durante la clase" name="observaciones" rows="5"
      cols="35"></textarea>
  </div>
  <br />
  <form action="../../form-result.php" method="post" enctype="multipart/form-data" target="_blank">
    <p class="text-lg text-black">
      Suba la evidencia fotografica de la clase:
      <input type="file" name="archivosubido" />&nbsp;
    </p>
    <h5>Formatos admitidos:JPG y PNG</h5>
  </form>
  <br />
  <label for="my-modal-ca-6" fill="none" class="btn btn-accent">GUARDAR </label>&nbsp;
  <input type="checkbox" id="my-modal-ca-6" class="modal-toggle" />
  <!-- <div class="modal modal-bottom sm:modal-middle">
  <div class="modal-box block text-white bg-blue-700  focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-rigth ">
    <h3 class="font-bold text-lg text-white text-center " >SE REGISTRO CORRECTAMENTE</h3>
    <div class="modal-action">
      <label for="my-modal-ca-6" class="btn btn-accent" routerLink="../asistencia" >ACEPTAR</label>
    </div>
  </div>
</div> -->
</div>
