<p-toast></p-toast>
<p-toolbar>
  <div class="p-toolbar-group-start gap-2">
    <button
      pButton
      type="button"
      id="volver"
      class="p-button p-button-outlined"
      icon="pi pi-arrow-left"
      (click)="redireccionar()"
      label="Regresar"
    ></button>
  </div>
</p-toolbar>
<p-card>
  <div class="flex items-center justify-center">
    <h1 class="text-2xl">
      {{ isCreating ? "Agregar nueva fecha" : "Editar la fecha actual" }}
    </h1>
  </div>
  <div class="p-fluid">
    <form [formGroup]="formAttendance" (ngSubmit)="onSubmit()">
      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2">
          <label
            for="name"
            appLabel
            label="Fecha del registro:"
            [required]="isRequired(dateField)"
            [valid]="dateField.valid"
            [touched]="dateField.touched"
            [dirty]="dateField.dirty"
          >
          </label>
          <p-calendar
            [showIcon]="true"
            [showButtonBar]="true"
            placeholder="Seleccione la fecha"
            formControlName="fecha"
            dateFormat="yy-mm-dd"
          ></p-calendar>
          <small
            appErrorMessage
            [errors]="dateField.errors"
            [touched]="dateField.touched"
            [dirty]="dateField.dirty"
          >
          </small>
        </div>
      </div>
      <div>
        <label
          for="name"
          appLabel
          label="Observaciones:"
          [required]="isRequired(observationField)"
          [valid]="observationField.valid"
          [touched]="observationField.touched"
          [dirty]="observationField.dirty"
        >
        </label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="observaciones"
        ></textarea>
        <small
          appErrorMessage
          [errors]="observationField.errors"
          [touched]="observationField.touched"
          [dirty]="observationField.dirty"
        >
        </small>
      </div>

      <div *ngIf="isCreating">
        <label for="name" appLabel label="Evidencia Fotográfica:"> </label>
        <p-fileUpload mode="basic"
          chooseLabel="Seleccione la imagen"
          accept="image/*"
          (onSelect)="onFileUpload($event)"
        ></p-fileUpload>
        <i class="pi pi-question-circle px-1" style="cursor: pointer;" (click)="help()"></i>
        <p-dialog header="Recuerda" [(visible)]="helpDialogVisible" [style]="{ width: '30%' }">
          <p>
          Para subir la imagen<br/>
          - <strong>Primero</strong>: Asegurese de que la imagen seleccionada tenga la extension JPG o PNG.<br/>
          - <strong>Segundo</strong>:Haga clic en Abrir o Elegir.<br/>
          - <strong>Para finalizar</strong>:Una vez agregada la observacion y la imagen haga clic en Guardar.
          </p>
        </p-dialog>
      </div>
      <div *ngIf="!isCreating">
        <label for="name" appLabel label="Evidencia Fotográfica:"> </label>

        <div *ngIf="!editImageForNew">
          <div class="flex justify-center items-center max-w-md mx-auto">
            <img
              [src]="img"
              alt="Evidencia Fotográfica"
              class="max-w-full h-auto rounded border border-gray-300"
            />
            <i
              class="pi pi-pencil cursor-pointer ml-5"
              (click)="editImage()"
            ></i>
          </div>
        </div>

        <div *ngIf="editImageForNew">
          <p-fileUpload mode="basic"
            chooseLabel="Seleccione la imagen"
            accept="image/*"
            (onSelect)="onFileUpload($event)"
          ></p-fileUpload>
          <div *ngIf="fileErrorMessage" class="text-red-500 mt-2">
            {{ fileErrorMessage }}
          </div>
        </div>
      </div>

      <p-divider></p-divider>
      <div class="flex flex-col items-center">
        <div>
          <button
            pButton
            type="submit"
            pRipple
            label="{{
              isCreating ? 'Guardar' : 'Actualizar'
            }}"
            icon="pi pi-save"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-card>
