<p-toast position="top-center"></p-toast>

<div class="p-fluid">
  <form [formGroup]="formGrades" (ngSubmit)="onSubmit()">
      <!--nota primer parcial-->
      <div class="field">
        <label for="grade1" appLabel label="Evaluacion continua:"
               [required]="isRequired(grade1Field)"
               [valid]="grade1Field.valid"
               [touched]="grade1Field.touched"
               [dirty]="grade1Field.dirty">
          Primer Parcial
        </label>
        <input pInputText type="number" id="grade1" formControlName="grade1">
        <small appErrorMessage
               [errors]="grade1Field.errors"
               [touched]="grade1Field.touched"
               [dirty]="grade1Field.dirty">
        </small>
      </div>
      <!--nota segundo parcial-->
      <div class="field">
        <label for="grade2" appLabel label="Evaluacion continua:"
               [required]="isRequired(grade2Field)"
               [valid]="grade2Field.valid"
               [touched]="grade2Field.touched"
               [dirty]="grade2Field.dirty">
          Segundo Parcial
        </label>
        <input pInputText type="number" id="grade2" formControlName="grade2" >
        <small appErrorMessage
               [errors]="grade2Field.errors"
               [touched]="grade2Field.touched"
               [dirty]="grade2Field.dirty">
        </small>
      </div>
    <button pButton pRipple label="Guardar" class="p-button-rounded"
            icon="pi pi-save" type="submit"></button>
    <!--progressBar-->
    <div class="field" *ngIf="progressBar">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </div>
  </form>
</div>


