<p-toast position="top-center"></p-toast>

<div class="p-fluid">
  <form [formGroup]="formNullifyRegistration" (ngSubmit)="onSubmit()">
    <!--user info-->
    <!-- id field -->
    <input pInputText id="id" userformControlName="id" [hidden]="true" />
    <!--name & lastname-->
    <div class="formgrid grid">
      <!--username-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label
          for="username"
          appLabel
          label="Número de identificación:"
          [required]="isRequired(usernameField)"
          [valid]="usernameField.valid"
          [touched]="usernameField.touched"
          [dirty]="usernameField.dirty"
        >
        </label>
        <input
          pInputText
          id="username"
          formControlName="username"
          class="uppercase"
        />
        <small
          appErrorMessage
          [errors]="usernameField.errors"
          [touched]="usernameField.touched"
          [dirty]="usernameField.dirty"
        >
        </small>
      </div>
      <!--name-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label
          for="name"
          appLabel
          label="Nombres:"
          [required]="isRequired(nameField)"
          [valid]="nameField.valid"
          [touched]="nameField.touched"
          [dirty]="nameField.dirty"
        >
        </label>
        <input pInputText id="name" formControlName="name" class="uppercase" />
        <small
          appErrorMessage
          [errors]="nameField.errors"
          [touched]="nameField.touched"
          [dirty]="nameField.dirty"
        >
        </small>
      </div>
      <!--lastname-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label
          for="lastname"
          appLabel
          label="Apellidos:"
          [required]="isRequired(lastnameField)"
          [valid]="lastnameField.valid"
          [touched]="lastnameField.touched"
          [dirty]="lastnameField.dirty"
        >
        </label>
        <input
          pInputText
          id="lastname"
          formControlName="lastname"
          class="uppercase"
        />
        <small
          appErrorMessage
          [errors]="lastnameField.errors"
          [touched]="lastnameField.touched"
          [dirty]="lastnameField.dirty"
        >
        </small>
      </div>
      <!--email-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label
          for="email"
          appLabel
          label="Correo electrónico:"
          [required]="isRequired(emailField)"
          [valid]="emailField.valid"
          [touched]="emailField.touched"
          [dirty]="emailField.dirty"
        >
        </label>
        <input
          pInputText
          id="email"
          formControlName="email"
          class="uppercase"
          readonly
        />
        <small
          appErrorMessage
          [errors]="emailField.errors"
          [touched]="emailField.touched"
          [dirty]="emailField.dirty"
        >
        </small>
      </div>
      <!--Observations-->
      <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          for="observation"
          appLabel
          label="Razón por la que anula la matrícula:"
          [required]="isRequired(observationField)"
          [valid]="observationField.valid"
          [touched]="observationField.touched"
          [dirty]="observationField.dirty"
        >
        </label>
        <span class="p-input-icon-left">
          <!-- <i class="pi pi-trash" (click)="clearTextareaValue()"></i> -->
          <textarea
          [rows]="5"
            pInputTextarea
            id="observations"
            formControlName="observations"
            class="uppercase"
          ></textarea>
          <div class="flex flex-row-reverse mt-3">
            <button
            pButton pRipple type="button"
            label="Limpiar observaciones"
            class="p-button-danger p-button-text"
            (click)="clearTextareaValue()"
        ></button>
          </div>
        </span>
        <small
          appErrorMessage
          [errors]="observationField.errors"
          [touched]="observationField.touched"
          [dirty]="observationField.dirty"
        >
        </small>
      </div>
      <!--onSubmit()-->
      <div class="flex flex-row-reverse mr-2">
        <button
          pButton
          pRipple
          label="Anular Matrícula"
          class="p-button-rounded p-button-success"
        ></button>
      </div>
      <!--progressBar-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12" *ngIf="progressBar">
        <p-progressBar mode="indeterminate"></p-progressBar>
      </div>
    </div>
  </form>
</div>
