<p-dialog
  header="{{ titleModal }} planificación"
  [(visible)]="showModal"
  [maximizable]="true"
  [modal]="true"
  (onHide)="closeModal()"
  [style]="{ width: '490px' }"
>
  <div class="p-fluid">
    <form [formGroup]="formPlanification" (ngSubmit)="onSubmit()">
      <!-- lectiveYear -->
      <div class="field">
        <label
          for="name"
          appLabel
          label="Año lectivo:"
          [required]="isRequired(lectiveYear)"
          [valid]="lectiveYear.valid"
          [touched]="lectiveYear.touched"
          [dirty]="lectiveYear.dirty"
        >
        </label>
        <p-dropdown
          id="lectiveYear"
          formControlName="schoolYearId"
          dataKey="id"
          [options]="schoolYears"
          placeholder="Seleccione año lectivo"
          optionLabel="year"
          optionValue="id"
          [showClear]="true"
        >
          <ng-template let-option pTemplate="item">
            <div class="flex align-items-center justify-between">
              <div>
                {{ "Año lectivo:" + " " + option.year }}
              </div>
              <div>{{ "Ciclo" + " " + option.cycle + " " }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="lectiveYear.errors"
          [touched]="lectiveYear.touched"
          [dirty]="lectiveYear.dirty"
        >
        </small>
      </div>
      <!-- CodeCourse -->
      <div class="field">
        <label
          for="name"
          appLabel
          label="Código del curso:"
          [required]="isRequired(codeCourse)"
          [valid]="codeCourse.valid"
          [touched]="codeCourse.touched"
          [dirty]="codeCourse.dirty"
        >
        </label>
        <input
          placeholder="Ej. D2DS-M"
          pInputText
          id="name"
          formControlName="codeCourse"
          class="uppercase"
        />
        <small
          appErrorMessage
          [errors]="codeCourse.errors"
          [touched]="codeCourse.touched"
          [dirty]="codeCourse.dirty"
        >
        </small>
      </div>

      <!--name-->
      <div class="field">
        <label
          for="name"
          appLabel
          label="Nombre del curso:"
          [required]="isRequired(nameField)"
          [valid]="nameField.valid"
          [touched]="nameField.touched"
          [dirty]="nameField.dirty"
        >
        </label>
        <input
          *ngIf="isEdit"
          placeholder="Ej. Desarrollo de aplicaciones web con python"
          pInputText
          id="name"
          formControlName="name"
        />
        <div *ngIf="!isEdit">
          <div class="flex flex-row" *ngIf="!inputAddCourse">
            <p-dropdown
              formControlName="name"
              [options]="planifications"
              placeholder="Seleccione un curso o agregue uno nuevo"
              optionLabel="name"
              optionValue="name"
              [style]="{ width: '100%' }"
              class="flex-1"
              [filter]="true"
              [showClear]="true"
              filterBy="name"
            >
            </p-dropdown>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-sync"
              (click)="addCourseForInput()"
              style="flex: 0 0 auto"
            ></button>
          </div>
          <div class="p-inputgroup" *ngIf="inputAddCourse">
            <p-autoComplete
              *ngIf="inputAddCourse"
              placeholder="Ej. Desarrollo de aplicaciones web con python"
              formControlName="name"
              [suggestions]="planifications"
              (completeMethod)="search($event)"
              field="name"
              [style]="{ width: '100%' }"
            ></p-autoComplete>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-sync"
              (click)="addForDropDown()"
            ></button>
          </div>
          <small
            appErrorMessage
            [errors]="nameField.errors"
            [touched]="nameField.touched"
            [dirty]="nameField.dirty"
          >
          </small>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2">
          <!--duration-->
          <label
            for="duration"
            appLabel
            label="Duración (horas):"
            [required]="isRequired(durationField)"
            [valid]="durationField.valid"
            [touched]="durationField.touched"
            [dirty]="durationField.dirty"
          >
          </label>
          <p-inputNumber
            id="duration"
            formControlName="durationTime"
            [min]="0"
            [max]="75"
            [showButtons]="true"
            placeholder="0"
          ></p-inputNumber>
          <small
            appErrorMessage
            [errors]="durationField.errors"
            [touched]="durationField.touched"
            [dirty]="durationField.dirty"
          >
          </small>
        </div>
        <div class="w-full sm:w-1/2">
          <div class="ml-4 p-field">
            <label
              appLabel
              label="Tipo de curso:"
              [required]="isRequired(freeField)"
              [valid]="freeField.valid"
              [touched]="freeField.touched"
              [dirty]="freeField.dirty"
            ></label>
            <div class="p-formgroup-inline">
              <div class="p-field-radiobutton">
                <p-radioButton
                  formControlName="free"
                  [value]="false"
                  inputId="freeCourse"
                ></p-radioButton>
                <label class="ml-2" for="freeCourse">Gratuito</label>
              </div>
              <div class="p-field-radiobutton mt-1">
                <p-radioButton
                  formControlName="free"
                  [value]="true"
                  inputId="paidCourse"
                ></p-radioButton>
                <label class="ml-2" for="paidCourse">De pago</label>
              </div>
            </div>
            <small
              appErrorMessage
              [errors]="freeField.errors"
              [touched]="freeField.touched"
              [dirty]="freeField.dirty"
            >
            </small>
          </div>
        </div>
      </div>

      <!--responsible-->
      <div class="">
        <label
          appLabel
          label="Responsable de curso:"
          [required]="isRequired(responsibleField)"
          [valid]="responsibleField.valid"
          [touched]="responsibleField.touched"
          [dirty]="responsibleField.dirty"
        >
        </label>
        <p-dropdown
          formControlName="userId"
          [options]="users"
          placeholder="Seleccione el responsable"
          optionLabel="names"
          optionValue="id"
        >
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="responsibleField.errors"
          [touched]="responsibleField.touched"
          [dirty]="responsibleField.dirty"
        >
        </small>
      </div>

      <!-- modality -->

      <div class="">
        <label
          appLabel
          label="Modalidad:"
          [required]="isRequired(modalityField)"
          [valid]="modalityField.valid"
          [touched]="modalityField.touched"
          [dirty]="modalityField.dirty"
        >
        </label>
        <p-dropdown
          formControlName="modalityId"
          [options]="modalities"
          placeholder="Seleccione la modalidad"
          optionLabel="name"
          optionValue="id"
        >
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="modalityField.errors"
          [touched]="modalityField.touched"
          [dirty]="modalityField.dirty"
        >
        </small>
      </div>

      <div class="field">
        <label
          for="name"
          appLabel
          label="Fecha de inicio:"
          [required]="isRequired(startDate)"
          [valid]="startDate.valid"
          [touched]="startDate.touched"
          [dirty]="startDate.dirty"
        >
        </label>
        <p-calendar
          inputId="calendar"
          [showIcon]="true"
          placeholder="Calendario"
          dateFormat="yy-mm-dd"
          [showButtonBar]="true"
          formControlName="startDate"
        >
          ></p-calendar
        >
        <small
          appErrorMessage
          [errors]="startDate.errors"
          [touched]="startDate.touched"
          [dirty]="startDate.dirty"
        >
        </small>
      </div>

      <div class="field">
        <label
          for="name"
          appLabel
          label="Fecha de finalización:"
          [required]="isRequired(finishDate)"
          [valid]="finishDate.valid"
          [touched]="finishDate.touched"
          [dirty]="finishDate.dirty"
        >
        </label>
        <p-calendar
          inputId="calendar"
          [showIcon]="true"
          placeholder="Calendario"
          dateFormat="yy-mm-dd"
          [showButtonBar]="true"
          formControlName="finishDate"
        ></p-calendar>
        <small
          appErrorMessage
          [errors]="finishDate.errors"
          [touched]="finishDate.touched"
          [dirty]="finishDate.dirty"
        >
        </small>
      </div>
      <div class="field">
        <label
          for="name"
          appLabel
          label="En revisión por:"
          [required]="isRequired(finishDate)"
          [valid]="finishDate.valid"
          [touched]="finishDate.touched"
          [dirty]="finishDate.dirty"
        >
        </label>
        <p-dropdown
          formControlName="planningReviewId"
          dataKey="id"
          [options]="review"
          placeholder="Seleccione"
          optionLabel="names"
          optionValue="id"
        >
          <ng-template let-option pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>
                {{ option.names + " " }} <strong>{{ option.role.name }}</strong>
              </div>
            </div>
          </ng-template>
        </p-dropdown>

        <small
          appErrorMessage
          [errors]="finishDate.errors"
          [touched]="finishDate.touched"
          [dirty]="finishDate.dirty"
        >
        </small>
      </div>
      <p-divider></p-divider>

      <!--onSubmit()-->
      <div class="field">
        <button
          pButton
          type="submit"
          pRipple
          label="{{ titleButton }}"
          class="p-button-rounded"
          icon="pi pi-save"
          [disabled]="formPlanification.invalid"
        ></button>
      </div>

      <!--progressBar-->
      <div class="mt-2" *ngIf="progressBar">
        <p-progressBar mode="indeterminate"></p-progressBar>
      </div>
    </form>
  </div>
</p-dialog>
