<div class="card mt-2">
  <h5>Lista de Estudiantes</h5>
  <p-toolbar class="filter-options">
    <div class="p-toolbar-group-left">
      <div class="field col p-input-icon-right">
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            label="Refrescar"
            class="p-button-rounded ml-2"
            icon="pi pi-sync"
            (click)="getAttendances()"
          ></button>
        </div>
      </div>
    </div>
    <div class="p-toolbar-group-right"></div>
  </p-toolbar>
  <!--      <div *ngFor="let date of dates ">-->
  <!--        <h1 style="color: #0b4d85">{{date.registeredAt}}</h1>-->
  <!--      </div>-->
  <p-table [columns]="cols" [value]="attendance">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th>
          <button pButton class="p-button-rounded" icon="pi pi-cog"></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          {{ rowData["registration"]?.name }}
          {{ rowData["registration"]?.lastname }}
        </td>
        <td>
          <!--            {{rowData['type']?.name}}-->
          <p-dropdown
            [options]="catalogues"
            [filter]="true"
            filterBy="name"
            (onChange)="updateDetailAttendance(rowData, $event.value)"
            class="ml-2"
          >
            <ng-template pTemplate="selectedItem">
              <div>
                <div>{{ rowData["type"]?.name }}</div>
              </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div>
                <div>{{ item.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </td>
        <!--          <td>-->
        <!--            <button pButton type="button" label="Guardar" class="p-button-success"-->
        <!--                    (click)="updateDetailAttendance(rowData)"></button>-->
        <!--          </td>-->
      </tr>
    </ng-template>
  </p-table>
</div>
