<div class="flex justify-between">
  <div></div>
  <h2 class="text-2xl text-center ml-14">{{ dateFormat }}</h2>
  <h4 class="text-xl text-center">{{ date | date : "hh:mm:ss a" }}</h4>
</div>
<div class="text-4xl text-center font-semibold text-black">
  Bienvenido al sistema Cecy
</div>

<h1 class="text-xl text-center">
  {{ greetingMessage }}
</h1>
<div class="m-5">
  <div
    class="grid grid-cols-1 xl sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    <div class="cursor-pointer">
      <p-card
        routerLink="/administrator/users"
        class="flex justify-center items-center"
      >
        <img
          class="w-full h-auto"
          src="assets/images/administrator/users.png"
          alt=""
        />
      </p-card>
    </div>
    <div class="cursor-pointer">
      <p-card
        routerLink="/administrator/roles"
        class="flex justify-center items-center"
      >
        <img
          class="w-full h-auto"
          src="assets/images/administrator/roles.png"
          alt=""
        />
      </p-card>
    </div>
    <div class="cursor-pointer">Columna 3</div>
    <div class="cursor-pointer">Columna 4</div>
  </div>
</div>
