@use "../../../../layout/main/main.component.scss" as *;

$primary-color: $colorPrimario;
$scale:14px;                    /* main font size */
$borderRadius:12px;             /* border radius of layout element e.g. card, sidebar */
$transitionDuration:.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */
@mixin focused() {
  outline: 0 none;
  outline-offset: 0;
  transition: box-shadow .2s;
  box-shadow: var(--focus-ring);
}

a {
  color: get-text-color($primary-color);
}

.navbar {
  border: 0px;
  height: 60px;
  padding: 0;
  margin-left: 69px;
  background-color: $primary-color;
  color: get-text-color($primary-color);

  div {
    display: flex;
    justify-content: flex-end;
    img {
      border-radius: 30px;
      width: 30%;
      height: auto;
      margin-right: 10px;
    }
  }

  ul {
    background-color: get-text-color($primary-color);
  }
  @media only screen and (min-width: 960px) {
    p-menubarsub {
      position: absolute;
      right: 70px;
    }

    .p-menubar-root-list {
      ul {
        margin-left: -175px;
      }

      .p-submenu-list {
        width: 245px;
      }
    }
  }

  @media only screen and (min-width: 1px) and (max-width: 960px) {
    .p-menubar-root-list {
      background-color: get-text-color($primary-color);
      position: absolute;
      display: flex;
      width: 30%;
      left: -1%;
      bottom: 15%;
      padding: 0;
      margin: 0;
      box-shadow: none;

      .p-submenu-list {
        position: absolute;
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%),
          0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
      }
    }

    .p-menubar-button {
      visibility: hidden;
      padding: 0;
      margin: 0;
    }
  }
}

.p-menubar {
  background-color: transparent !important;
}

.p-menubar:hover {
  background-color: transparent !important;
}

:root {
  --secundary: #46659b;
  --background: #35495e;
  --white-text: #ffffff;
  --black-text: #000000;
}

.drop-down-menu .drop-down-button {
  font-size: 1.2rem;
  outline: none;
  color: var(--black-white);
  padding: 1rem 1rem;
  background-color: inherit;
  border: none;
}

.drop-down-menu-content {
  display: none;
  position: absolute;
  left: 77%;
  top: 88%;
  background-color: var(--white-text);
  min-width: 10rem;
  box-shadow: 0 0.8rem 1rem 0 rgb(211, 211, 211);
  z-index: 1000;
}

.drop-down-menu:hover {
  color: var(--black-text);
}

.drop-down-menu-content a {
  float: none;
  color: var(--black-text);
  padding: 1rem 1rem;
  display: block;
}

.drop-down-menu-content a:hover {
  background-color: #dee2e6;
  color: var(--black-white);
}

.drop-down-menu:hover .drop-down-menu-content {
  display: block;
}

nav ul {
  display: flex;
}

/*media query*/

@media (max-width: 1039px) {
  nav {
    justify-content: flex-start;
  }

  .drop-down-menu-content {
    width: 100%;
  }
}

.image-profile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--text-color-secondary);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;

  i {
    font-size: 1.5rem;
  }

  span {
    font-size: 1rem;
    display: none;
  }
}

.layout-topbar-button1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--text-color-secondary);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: background-color $transitionDuration;

  &:hover {
      color: var(--text-color);
      background-color: var(--surface-hover);
  }

  &:focus {
      @include focused();
  }

  i {
      font-size: 1.5rem;
  }

  span {
      font-size: 1rem;
      display: none;
  }
}


@media (max-width: 991px) {
  .layout-topbar {
      justify-content: space-between;

      .layout-topbar-logo {
          width: auto;
          order: 2;
      }

      .layout-menu-button {
          margin-left: 0;
          order: 1;
      }

      .layout-topbar-menu-button {
          display: inline-flex;
          margin-left: 0;
          order: 3;
      }

      .layout-topbar-menu {
          margin-left: 0;
          position: absolute;
          flex-direction: column;
          background-color: var(--surface-overlay);
          box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
          border-radius: 12px;
          padding: 1rem;
          right: 2rem;
          top: 5rem;
          min-width: 15rem;
          display: none;
          -webkit-animation: scalein 0.15s linear;
          animation: scalein 0.15s linear;

          &.layout-topbar-menu-mobile-active {
              display: block
          }

          .layout-topbar-button1 {
              margin-left: 0;
              display: flex;
              width: 100%;
              height: auto;
              justify-content: flex-start;
              border-radius: 12px;
              padding: 1rem;

              i {
                  font-size: 1rem;
                  margin-right: .5rem;
              }

              span {
                  font-weight: medium;
                  display: block;
              }
          }
      }
  }
}
