<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img
      src="assets/layout/images/{{
        layoutService.config.colorScheme === 'light'
          ? 'logo-dark'
          : 'logo-white'
      }}.svg"
      alt="logo"
    />
    <span>CECY</span>
  </a>

  <button
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <button
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <!-- <button class="p-link layout-topbar-button mr-6" (click)="visibleSidebar = true">
      <i class="pi pi-bell"></i>
      <span>Notificaciones</span>
    </button> -->
    <p-sidebar
      [(visible)]="visibleSidebar"
      position="right"
      [baseZIndex]="10000"
    >
      <h3 style="font-weight: normal">Top Sidebar</h3>
    </p-sidebar>
    <a class="p-link layout-topbar-button1 mr-5" [routerLink]="'/user/profile'">
      <i class="pi pi-user"></i>
      <div *ngFor="let item of customer">
        <p class="ml-2">
          {{ item.customer?.name }}
        </p>
      </div>
    </a>
    <!-- <div class="drop-down-menu" *ngFor="let item of customer">
      <a class="p-link profile drop-down-button mr-5">
        <i class="pi pi-user"></i>
        <p class="ml-1 ">
          {{ item.customer.name }}
        </p>
      </a>
      <div class="drop-down-menu-content">
        <a>
          <div class="flex flex-row">
            <img
              width="25"
              height="25"
              src="assets/images/components/default.png"
              alt="Imagen de perfil"
              class="mr-4"
            />
            <p class="m-0">
              {{ item.customer.name + " " + item.customer.lastname }}
            </p>
          </div>
        </a>
        <a>
          <p>{{ item.role }}</p>
        </a>
        <a href="#">
          <i class="pi pi-user"></i>
          Perfil
        </a>
        <a href="#">
          <i class="pi pi-cog"></i>
          Configuración
        </a>
      </div>
    </div> -->
    <!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
      <i class="pi pi-cog"></i>
      <span>Configuraciones</span>
    </button> -->
    <!-- <div class="ml-3 image-profile">
      <img
        width="40"
        height="40"
        class="mr-2"
        src="assets/images/components/default.png"
        alt="Imagen de perfil"
      />
    </div> -->
    <button class="p-link layout-topbar-button" (click)="onlogout()">
      <i class="pi pi-fw pi-sign-out"></i>
      <span>Salir</span>
    </button>
  </div>
</div>
