<app-welcome></app-welcome>
<div class="mt-4">
  <div
    class="grid grid-cols-1 xl sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    <div class="cursor-pointer">
      <p-card
        routerLink="/administrator/users"
        class="flex justify-center items-center"
      >
        <img
          class="w-full h-auto"
          src="assets/images/administrator/users.png"
          alt=""
        />
      </p-card>
    </div>
    <div class="cursor-pointer">
      <p-card
        routerLink="/administrator/roles"
        class="flex justify-center items-center"
      >
        <img
          class="w-full h-auto"
          src="assets/images/administrator/roles.png"
          alt=""
        />
      </p-card>
    </div>
    <div class="cursor-pointer">
      <p-card
        routerLink="/administrator/careers"
        class="flex justify-center items-center"
      >
        <img
          class="w-full h-auto"
          src="assets/images/administrator/carreras.png"
          alt=""
        />
      </p-card>
    </div>
    <div class="cursor-pointer">
      <p-card
        routerLink="/administrator/students"
        class="flex justify-center items-center"
      >
        <img
          class="w-full h-auto"
          src="assets/images/administrator/estudiante.png"
          alt=""
        />
      </p-card>
    </div>
  </div>
</div>
