<div class="overflow-x-auto w-full">
  <table class="table w-full">
    <thead>
      <tr>
        <th></th>
        <th>Dni</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Tipo</th>
        <th>Estado Matricula</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="estudiantes; noData">
      <tr *ngFor="let estudiante of estudiantes" class="hover">
        <th></th>
        <th>{{ estudiante.estudiantes!.cedula }}</th>
        <th>{{ estudiante.estudiantes!.nombres }}</th>
        <th>{{ estudiante.estudiantes!.apellidos }}</th>
        <th>{{ estudiante.estudiantes!.tipoEstudiante.descripcion }}</th>
        <th>
          {{
          estudiante.estadoMatricula.descripcion
          ? estudiante.estadoMatricula.descripcion
          : "Sin datos"
          }}
        </th>
        <th>
          <button class="btn btn-accent">
            <a routerLink="{{ estudiante.id }}">Detalles</a>
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <h2>No hay estudiantes todavía</h2>
</ng-template>

<ng-template #data> </ng-template>
