<div class="container p-2">
  <div class="card">
    <span class="text-center"><h3>Vertical and Grid</h3></span>
    <div class="formgrid grid">
      <div class="field col">
        <label for="firstname2">Firstname</label>
        <input
          id="firstname2"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field col">
        <label for="lastname2">Lastname</label>
        <input
          id="lastname2"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
    </div>
  </div>

  <!-- <p-header>
      <div class="text-center">
        <h2>Registrar usuario</h2>
      </div>
      <div class="formgrid grid">
        <div class="col-12">
          <div class="field">
            <label appLabel label="Nombre: "></label>
            <input pInputText formControlName="username" />
            <small appErrorMessage></small>
          </div>
          <div class="field">
            <label appLabel label="Contraseña: "></label>
            <input pInputText formControlName="username" />
            <small appErrorMessage></small>
          </div>
          <div class="field">
            <label appLabel label="Repetir contraseña: "></label>
            <input pInputText formControlName="username" />
            <small appErrorMessage></small>
          </div>

          <div class="field">
            <button
              pButton
              pRipple
              type="button"
              label="Crear cuenta"
              class="p-button-outlined p-button-info"
              icon="pi pi-user-plus"
              (click)="createUser()"
            ></button>
          </div>
          <div class="field">
            <button
              pButton
              pRipple
              type="button"
              label="Cancelar"
              class="p-button-outlined p-button-danger"
              icon="pi pi-user-plus"
              routerLink="/login"
            ></button>
          </div>
        </div>
      </div>
    </p-header> -->
</div>
