<p-dialog
  header="Asignar Responsable de CECY"
  [(visible)]="dialogForm"
  [maximizable]="true"
  [modal]="true"
  (onHide)="loadPlanifications(paginator.current_page, courseId)"
>
  <app-planification-form
    *ngIf="dialogForm"
    (dialogForm)="dialogForm = $event"
  ></app-planification-form>
</p-dialog>
<div class="container-fluid">
  <div class="text-center">
    <h4>Planificaciones</h4>
  </div>
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <button
        pButton
        pRipple
        type="button"
        label="Refrescar"
        class="p-button-rounded ml-2"
        icon="pi pi-sync"
        (click)="loadPlanifications(paginator.current_page, courseId)"
      ></button>
      <button
        *ngIf="selectedPlanifications?.length"
        pButton
        pRipple
        type="button"
        label="Eliminar seleccionados"
        class="p-button-danger p-button-rounded ml-2"
        icon="pi pi-trash"
        (click)="deletePlanifications()"
      ></button>
      <app-progress-bar
        *ngIf="progressBarDelete"
        [message]="messageService.progressBarDelete"
        class="ml-2"
      >
      </app-progress-bar>
    </div>
    <div class="p-toolbar-group-right">
      <div class="p-inputgroup">
        <input
          pInputText
          id="search"
          [formControl]="search"
          (keypress)="filter($event)"
        />
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-search"
          (click)="filter($event)"
        ></button>
      </div>
    </div>
  </p-toolbar>
  <p-card>
    <div class="p-fluid">
      <p-paginator
        [rows]="paginator.per_page!"
        [totalRecords]="paginator.total!"
        (onPageChange)="paginate($event)"
      >
      </p-paginator>
      <p-table
        dataKey="id"
        styleClass="p-datatable-striped"
        [value]="planifications"
        [columns]="cols"
        [loading]="(loaded$ | async)!"
        [(selection)]="selectedPlanifications"
        [responsive]="true"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>

            <th pSortableColumn="startedAt">
              Fecha inicio
              <p-sortIcon field="startedAt"></p-sortIcon>
            </th>
            <th pSortableColumn="endedAt">
              Fecha finalización
              <p-sortIcon field="endedAt"></p-sortIcon>
            </th>
            <th pSortableColumn="state.name">
              Estado
              <p-sortIcon field="state.name"></p-sortIcon>
            </th>
            <th pSortableColumn="responsibleCecy.user.fullname">
              Responsable de CECY
              <p-sortIcon field="responsibleCecy.user.fullname"></p-sortIcon>
            </th>
            <th pSortableColumn="observation">
              Observacion
              <p-sortIcon field="observation"></p-sortIcon>
            </th>

            <th class="text-center">
              <button
                pButton
                pRipple
                type="button"
                class="p-button-rounded p-button-secondary"
                icon="pi pi-cog"
              ></button>
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowData
          let-columns="columns"
          let-rowIndex="rowIndex"
        >
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>

            <td *ngFor="let col of columns">
              <!--Objects-->
              <div *ngIf="rowData[col.field]?.id" [ngSwitch]="col.field">
                <div *ngSwitchCase="'state'">
                  {{ rowData[col.field].name }}
                </div>
                <div *ngSwitchCase="'responsibleCecy'">
                  {{ rowData[col.field].user.fullname }}
                </div>
                <div *ngSwitchCase="'observation'">
                  {{ rowData[col.field].name }}
                </div>
              </div>

              <!--Fields-->
              <div *ngIf="!rowData[col.field]?.id" [ngSwitch]="col.field">
                <div *ngSwitchCase="'startedAt'">
                  {{ rowData[col.field] | date }}
                </div>
                <div *ngSwitchCase="'endedAt'">
                  {{ rowData[col.field] | date }}
                </div>
                <div *ngSwitchDefault>{{ rowData[col.field] }}</div>
              </div>
            </td>

            <td class="text-center">
              <p-splitButton
                label="Más"
                styleClass="p-button-secondary"
                icon="pi pi-user-edit"
                (onClick)="showForm(rowData)"
                (onDropdownClick)="selectPlanification(rowData)"
                [model]="items"
              >
              </p-splitButton>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          {{ messageService.paginatorTotalRegisters(paginator) }}
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              {{ messageService.paginatorNoRecordsFound }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-card>
</div>
