<!-- <div class="cabezera flex justify-end">
  <div>
    <a [routerLink]="'../codigo-lista'" class="btn btn-active btn-accent m-1">Subir Codigos Senescyt</a>
  </div>
  <div class="m-1 flex justify-end">
    <button class="btn" (click)="generateCertificates()" >Generar Certificados</button>
  </div>
</div>

<div class="tabla overflow-x-auto">
  <table class="table table-compact w-full">
    <thead>
      <tr>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Estado</th>
        <th>Actualizar</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let valor of reportEntity.reportes">

        <td>{{ valor.matriculas.estudiantes.cedula }}</td>
        <td>{{ valor.matriculas.estudiantes.nombres }}</td>
        <td>{{ valor.matriculas.estudiantes.apellidos }}</td>
        <td>{{ valor.matriculas.id }}</td>
        <td><button class="btn" (click)="updateEntity(valor.id)" >x</button></td>

      </tr>
    </tbody>
  </table>
</div>
<div class="pie flex justify-center w-15 m-2">
  <div class="m-1">
    <a>
      <svg class="svg-icon h-7 w-7" viewBox="0 0 20 20">
        <path
          d="M11.739,13.962c-0.087,0.086-0.199,0.131-0.312,0.131c-0.112,0-0.226-0.045-0.312-0.131l-3.738-3.736c-0.173-0.173-0.173-0.454,0-0.626l3.559-3.562c0.173-0.175,0.454-0.173,0.626,0c0.173,0.172,0.173,0.451,0,0.624l-3.248,3.25l3.425,3.426C11.911,13.511,11.911,13.789,11.739,13.962 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.148,3.374,7.521,7.521,7.521C14.147,17.521,17.521,14.148,17.521,10">
        </path>
      </svg>
    </a>
  </div>

  <div class="m-1">
    <a>
      <svg class="svg-icon h-7 w-7" viewBox="0 0 20 20">
        <path
          d="M12.522,10.4l-3.559,3.562c-0.172,0.173-0.451,0.176-0.625,0c-0.173-0.173-0.173-0.451,0-0.624l3.248-3.25L8.161,6.662c-0.173-0.173-0.173-0.452,0-0.624c0.172-0.175,0.451-0.175,0.624,0l3.738,3.736C12.695,9.947,12.695,10.228,12.522,10.4 M18.406,10c0,4.644-3.764,8.406-8.406,8.406c-4.644,0-8.406-3.763-8.406-8.406S5.356,1.594,10,1.594C14.643,1.594,18.406,5.356,18.406,10M17.521,10c0-4.148-3.374-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.147,17.521,17.521,14.147,17.521,10">
        </path>
      </svg>
    </a>
  </div>
</div> -->

<div class="grid">
  <div class="col-12">
      <div class="px-6 py-6">
          <p-toast></p-toast>
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                  </div>
              </ng-template>

              <ng-template pTemplate="right">
                <button pButton pRipple label="Subir Codigos" icon="pi pi-upload" class="p-button-help" (click)="show()"></button>
              </ng-template>
          </p-toolbar>
          <!-- tabla -->
          <p-table #dt
          [value]="codigos"
          [columns]="cols"
          responsiveLayout="scroll"
          [rows]="10"
          [globalFilterFields]="['matriculas.estudiantes.cedula','matriculas.estudiantes.nombres','matriculas.estudiantes.apellidos']"
          [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"

          selectionMode="multiple"
          [rowHover]="true"
          dataKey="id">


            <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center ">

                      <span class="block mt-2 md:mt-0 p-input-icon-right mx-2 ">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar Cedula,Nombre..."  class="w-full sm:w-auto"/>
                      </span>
                  </div>
              </ng-template>


              <ng-template pTemplate="header">
                  <tr>
                      <!-- <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th> -->
                      <th pSortableColumn="matriculas.estudiantes.cedula">Cedula <p-sortIcon field="cedula"></p-sortIcon></th>
                      <th pSortableColumn="matriculas.estudiantes.nombres">Nombres <p-sortIcon field=""></p-sortIcon></th>
                      <th pSortableColumn="matriculas.estudiantes.apellidos">Apellidos <p-sortIcon field=""></p-sortIcon></th>
                      <th pSortableColumn="codigo">Codigo<p-sortIcon field=""></p-sortIcon></th>
                      <!-- <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                      <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-codigo>
                  <tr>
                      <!-- <td>
                          <p-tableCheckbox [value]="codigo"></p-tableCheckbox>
                      </td> -->
                      <td style="width:19%; min-width:10rem;"><span class="p-column-title">DNI</span>
                          {{codigo.matriculas.estudiantes.cedula}}
                      </td>
                      <td style="width:19%; min-width:10rem;">
                          <span class="p-column-title">Name</span>
                          {{codigo.matriculas.estudiantes.nombres}}
                      </td>

                      <td style="width:19%; min-width:8rem;">
                          <span class="p-column-title">Price</span>
                          {{codigo.matriculas.estudiantes.apellidos}}
                      </td>
                      <td style="width:19%; min-width:10rem;">
                          <span class="p-column-title">Category</span>
                          {{codigo.codigo}}
                      </td>
                      <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
                          <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                      </td> -->
                      <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                          <span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                      </td> -->
                      <td>
                          <div class="flex">
                              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(codigo)"></button>
                          </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>

      </div>



      <p-dialog [(visible)]="updateCodeDialog" [style]="{width: '450px'}" header="Estudiante" [modal]="true" class="p-fluid">
          <ng-template pTemplate="content">
              <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image"> -->
              <div class="field">
                  <label for="name">Nombres</label>
                  <input type="text" pInputText id="name" [(ngModel)]="codigo.matriculas.estudiantes.nombres" [disabled]="true"/>

              </div>
              <div class="formgrid grid">
                  <div class="field col">
                      <label for="lastname">Apellidos</label>
                      <input type="text" pInputText id="lastname" [(ngModel)]="codigo.matriculas.estudiantes.apellidos" [disabled]="true"/>

                  </div>
                  <div class="field col">
                      <label for="dni">Cedula</label>
                      <input type="text" pInputText id="dni" [(ngModel)]="codigo.matriculas.estudiantes.cedula" [disabled]="true"/>

                  </div>
              </div>
              <div class="field">
                <label for="code">Codigo</label>
                <textarea id="code" pInputTextarea [(ngModel)]="codigo.codigo" required rows="2" cols="20"required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !codigo.codigo}"></textarea>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !codigo.codigo">Ingrese un codigo para actualizar</small>
            </div>
          </ng-template>


          <!-- Es el footer de la tabla de actualizar y new -->
          <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
          </ng-template>
      </p-dialog>





  </div>
</div>

