<p-toast position="top-center"></p-toast>

<div class="p-fluid">
  <form [formGroup]="formRequirement" (ngSubmit)="onSubmit()">
    <!--state & name-->
    <div class="formgrid grid">
      <!--name-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="name" appLabel label="Nombre:"
               [required]="isRequired(nameField)"
               [valid]="nameField.valid"
               [touched]="nameField.touched"
               [dirty]="nameField.dirty">
        </label>
        <input pInputText id="name" formControlName="name" class="uppercase">
        <small appErrorMessage
               [errors]="nameField.errors"
               [touched]="nameField.touched"
               [dirty]="nameField.dirty">
        </small>
      </div>

      <!--state-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="state" appLabel label="Estado:"
               [required]="isRequired(stateField)"
               [valid]="stateField.valid"
               [touched]="stateField.touched"
               [dirty]="stateField.dirty">
        </label>
        <p-dropdown id="state"
                    formControlName="state"
                    dataKey="id"
                    [options]="states"
                    [filter]="true"
                    filterBy="name"
                    placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="stateField.value">
              <div>{{stateField.value?.name}}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div>
              <div>{{item.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <small appErrorMessage
               [errors]="stateField.errors"
               [touched]="stateField.touched"
               [dirty]="stateField.dirty">
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="required" appLabel label="Es Requerido:"
               [required]="isRequired(requiredField)"
               [valid]="requiredField.valid"
               [touched]="requiredField.touched"
               [dirty]="requiredField.dirty">
        </label>
        <p-inputSwitch id="required" formControlName="required" class="uppercase"></p-inputSwitch>
        <small appErrorMessage
               [errors]="requiredField.errors"
               [touched]="requiredField.touched"
               [dirty]="requiredField.dirty">
        </small>
      </div>

    </div>

    <!--onSubmit()-->
    <div class="field">
      <button pButton pRipple label="Guardar" class="p-button-rounded"
              icon="pi pi-save"></button>
    </div>

    <!--progressBar-->
    <div class="field" *ngIf="progressBar">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </div>
  </form>
</div>
