<p-toast></p-toast>
<p-toolbar>
  <div class="p-toolbar-group-start gap-2">
    <h2 class="text-xl flex">
      <div class="text-xl">
        Cambiar contraseña del usuario
        <span class="underline">
          {{ user?.names ? user?.names : "Nombres" }}
          {{ user?.lastnames ? user?.lastnames : "Apellidos" }}
        </span>
      </div>
    </h2>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      label="Regresar"
      icon="pi pi-arrow-left"
      class="mr-2"
      routerLink="/administrator/users"
    ></p-button>
  </div>
</p-toolbar>
<div class="mt-4">
  <div class="flex flex-col md:flex-row gap-4">
    <div class="w-full">
      <p-card class="w-full">
        <div class="p-fluid flex">
          <form
            class="flex-1"
            [formGroup]="formChangePasswordUser"
            (ngSubmit)="onSubmit()"
          >
            <div class="flex flex-col items-center mb-6">
              <div
                style="
                  width: 200px;
                  height: 200px;
                  border-radius: 50%;
                  overflow: hidden;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <img
                  [src]="
                    user?.image
                      ? user?.image
                      : 'assets/images/administrator/user-default.png'
                  "
                  alt=""
                  style="width: 100%; height: 100%; object-fit: cover"
                />
              </div>
              <div class="text-center mt-4">
                <h2>{{ user?.names }} {{ user?.lastnames }}</h2>
                <p>{{ user?.email }}</p>
              </div>
            </div>
            <div class="field">
              <label
                appLabel
                label="Nueva Contraseña"
                [valid]="passwordField.valid"
                [touched]="passwordField.touched"
                [dirty]="passwordField.dirty"
                [required]="isRequired(passwordField)"
              >
              </label>
              <p-password
                promptLabel="Escriba su contraseña"
                weakLabel="Débil"
                mediumLabel="Nivel medio"
                strongLabel="Fuerte"
                formControlName="newPassword"
                [feedback]="true"
                [toggleMask]="true"
                class="w-full"
              >
              </p-password>
              <small
                appErrorMessage
                [errors]="passwordField.errors"
                [touched]="passwordField.touched"
                [dirty]="passwordField.dirty"
              >
              </small>
            </div>
            <div class="field">
              <label
                appLabel
                label="Confirmar contraseña"
                [valid]="rePasswordField.valid"
                [touched]="rePasswordField.touched"
                [dirty]="rePasswordField.dirty"
                [required]="isRequired(rePasswordField)"
              >
              </label>
              <p-password
                promptLabel="Escriba su contraseña"
                weakLabel="Débil"
                mediumLabel="Nivel medio"
                strongLabel="Fuerte"
                formControlName="confirm_password"
                [feedback]="true"
                [toggleMask]="true"
                class="w-full"
              >
              </p-password>
              <small
                appErrorMessage
                [errors]="rePasswordField.errors"
                [touched]="rePasswordField.touched"
                [dirty]="rePasswordField.dirty"
              >
              </small>
            </div>
            <p-divider></p-divider>
            <div class="field">
              <button
                pButton
                type="submit"
                pRipple
                [disabled]="formChangePasswordUser.invalid"
                label="Confirmar"
                class="p-button-rounded p-button-success w-full"
                [icon]="
                  (loading$ | async) ? 'pi pi-spin pi-spinner' : 'pi pi-save'
                "
              ></button>
            </div>
          </form>
          <div
            class="flex-1 justify-center items-center"
            style="
              width: 50%;
              height: 50%;
              border-radius: 50%;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            <img
              src="assets/images/administrator/key.png"
              alt=""
              style="height: 100%; width: 70%; object-fit: cover"
            />
          </div></div
      ></p-card>
    </div>
  </div>
</div>
