
<div>
  <form>
    <div class="container">

      <div class="card">
        <div class="md:flex">
          <div class="w-full md:w-1/6">
            <b>Nombre del curso: </b> <br />
            {{ selectedCourse?.name }}
          </div>
          <div class="w-full md:w-1/6">
            <b>Código del curso: </b> <br />
            {{
              selectedCourse?.codeCourse
                ? selectedCourse.codeCourse
                : "No tiene código"
            }}
          </div>
          <div class="w-full md:w-1/6">
            <b>Estado del curso: </b> <br />
            {{ selectedCourse?.state ? selectedCourse.state : "No asignado" }}
          </div>
          <div class="w-full md:w-1/6">
            <b>Carrera: </b> <br />
            {{ selectedCourse?.career.name }}
          </div>
          <div class="w-full md:w-1/6">
            <b>Modalidad: </b> <br />
            {{ selectedCourse?.course.modality.name }}
          </div>
        </div>
      </div>

      <p-tabView >
        <p-tabPanel header="Datos generales">
          <app-course-form></app-course-form>
        </p-tabPanel>

        <p-tabPanel  header="Diseño curricular">
          <app-curricular-design ></app-curricular-design>
        </p-tabPanel>

        <p-tabPanel  header="Horarios">
          <app-detail-planification-list ></app-detail-planification-list>
        </p-tabPanel>

      </p-tabView>




    </div>
  </form>
</div>
