
<div>
  <form>
    <p-card>
      <div class="md:flex">
        <div class="w-full md:w-1/6">
          <b>Nombre del curso: </b> <br />
          {{ selectedCourse?.name ?? "No tiene nombre" }}
        </div>
        <div class="w-full md:w-1/6">
          <b>Código del curso: </b> <br />
          {{ selectedCourse?.codeCourse ?? "No tiene código" }}
        </div>
        <div class="w-full md:w-1/6">
          <b>Estado del curso: </b> <br />
          {{ selectedCourse?.course.state ?? "No asignado" }}
        </div>
        <div class="w-full md:w-1/6">
          <b>Carrera: </b> <br />
          {{ selectedCourse?.career?.name ?? "No definida" }}
        </div>
        <div class="w-full md:w-1/6">
          <b>Modalidad: </b> <br />
          {{ selectedCourse?.modality?.name ?? "No definido" }}
        </div>
        <div class="w-full md:w-1/6">
          <div class="flex justify-content-center">
            <p-button (click)="showDialog()">
              <img onerror="this.src = 'assets/course-objects/empty-img.png' " [src]="selectedCourse?.course?.image"
                alt="" style="height: 2rem" />
            </p-button>

            <p-dialog header="Ingresar Link de imagen" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
              [draggable]="false" [resizable]="false">
              <div class="form-space">
                <div class="flex-col m-auto">
                  <form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
                    <div class="p-1 w-full mb-2">

                      <div class="upload-container">
                        <input pButton class="p-button-warning w-full " type="file" (change)="onFileUpload($event)" accept="image/*" />
                      </div>
                    </div>
                    <div class="w-full">
                      <button pButton pRipple label="Guardar" type="submit" class="p-button-rounded w-full"
                        icon="pi pi-save"></button>
                    </div>
                  </form>
                </div>
              </div>
            </p-dialog>
          </div>
        </div>
      </div>
    </p-card>
    <div class="flex m-3 items-center">
      <div class="flex-1">
        <p-messages [(value)]="alert" [enableService]="false" [closable]="false"></p-messages>
      </div>
      <div class="ml-2" *ngIf="
          user?.role?.name === 'coordinator_cecy' ||
          user?.role?.name === 'assistant_cecy'
        ">
        <p-button styleClass="p-button-rounded p-button-success" (onClick)="approveCourse()">
          <i class="pi pi-check-circle"></i>
          <div class="ml-2">Aprobar Curso</div>
        </p-button>
      </div>
    </div>
    <div class="mt-2">
      <p-tabView>
        <p-tabPanel header="Datos generales">
          <app-course-form></app-course-form>
        </p-tabPanel>

        <p-tabPanel header="Diseño curricular">
          <app-curricular-design></app-curricular-design>
        </p-tabPanel>

        <p-tabPanel header="Horarios">
          <app-detail-planification-list></app-detail-planification-list>
        </p-tabPanel>
      </p-tabView>
    </div>
  </form>
</div>
<p-confirmDialog [style]="{ width: '50vw' }" #cd key="positionDialog" [position]="'right'"
  rejectButtonStyleClass="p-button-outlined">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>
