<div>
  <form>
    <div class="container">

      <div class="card">
        <div class="md:flex">
          <div class="w-full md:w-1/6">
            <b>Nombre del curso: </b> <br />
            {{ selectedCourse?.name ?? 'No tiene nombre' }}
          </div>
          <div class="w-full md:w-1/6">
            <b>Código del curso: </b> <br />
            {{
            selectedCourse?.codeCourse ?? "No tiene código"
            }}
          </div>
          <div class="w-full md:w-1/6">
            <b>Estado del curso: </b> <br />
            {{ selectedCourse?.state ?? "No asignado" }}
          </div>
          <div class="w-full md:w-1/6">
            <b>Carrera: </b> <br />
            {{ selectedCourse?.career?.name ?? 'No definida' }}
          </div>
          <div class="w-full md:w-1/6">
            <b>Modalidad: </b> <br />
            {{ selectedCourse?.course?.modality?.name ?? 'Presencial' }}
          </div>
          <div class="w-full md:w-1/6">
            <div class=" flex justify-content-center">
              <p-button (click)="showDialog()">
                <img onerror="this.src = 'assets/course-objects/empty-img.png' " [src]="selectedCourse?.course?.image"
                  alt="" style="height: 2rem">
              </p-button>


              <p-dialog header="Ingresar Link de imagen" [(visible)]="visible" [modal]="true"
                [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
                <div class="form-space">
                  <div class="flex-col m-auto">
                    <form [formGroup]="formImage" (ngSubmit)="onSubmit()">
                      <div class="p-1 w-full ">
                        <input class="w-full" type="text" pInputText id="imageUrl" formControlName="image"
                          placeholder="Url de la imagen" />
                        <small appErrorMessage [errors]="imageField.errors" [touched]="imageField.touched"
                          [dirty]="imageField.dirty">
                        </small>
                      </div>
                      <div class="w-full">
                        <button pButton pRipple label="Guardar" type="submit" class="p-button-rounded w-full"
                          icon="pi pi-save"></button>
                      </div>
                    </form>
                  </div>
                </div>
              </p-dialog>
            </div>
          </div>
        </div>
      </div>

      <p-tabView>
        <p-tabPanel header="Datos generales">
          <app-course-form></app-course-form>
        </p-tabPanel>

        <p-tabPanel header="Diseño curricular">
          <app-curricular-design></app-curricular-design>
        </p-tabPanel>

        <p-tabPanel header="Horarios">
          <app-detail-planification-list></app-detail-planification-list>
        </p-tabPanel>

      </p-tabView>




    </div>
  </form>
</div>
