div.file {
  background: #e5997f;
  padding: 20px;
  border-radius: 20px;
  float: left;
  height: 85%;
  width: 100%;
  text-align: center;
}
div.left{
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  float: left;
  height: 50%;
  width: 30%;
  margin-left: 10%;
  text-align: center;
}
button{
  margin: 10px;
}
i{
  cursor: pointer;
}
