<div class="container grid">
    <div class="left-content">
        <p-tabView>
            <p-tabPanel  leftIcon="pi pi-users" header="General">
                <p-fieldset legend="Información general">
                    <p-accordion>
                        <p-accordionTab header="Instructores" >
                            <div *ngFor="let detailPlanification of planificationCourse.detailPlanifications" >
                                <h6>
                                    Horario de {{detailPlanification.day!.name  | titlecase}}
                                </h6>
                                <div class="instructor-detail" *ngFor="let instructor of detailPlanification.instructors">
                                    <img class="image-intructor" alt="Card" src="https://pbs.twimg.com/media/EUCh095XQAIXfbM.jpg">
                                    <p style="display: inline-block;">
                                        {{instructor.user!.name | titlecase}}
                                    </p>
                                </div>

                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Horarios">
                            <div *ngFor="let detailPlanification of planificationCourse.detailPlanifications" >
                                <h6>{{detailPlanification.day!.name   | titlecase}}:
                                    <h6 style="display: inline-block;"> de </h6> {{detailPlanification.startedTime }}  <h6 style="display: inline-block;">a</h6> {{detailPlanification.endedTime }}
                                </h6>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Requisitos">
                            <h6>
                                Requisitos técnicos:
                             </h6>
                            <ul *ngFor="let requisite of planificationCourse.course!.techniquesRequisites!.technical;">
                                    <li>
                                        <p>
                                            {{requisite}}
                                        </p>
                                    </li>
                            </ul>
                            <h6>
                                Requisitos generales:
                             </h6>
                            <ul *ngFor="let requisite of planificationCourse.course!.techniquesRequisites!.general;">
                                    <li>
                                        <p>
                                            {{requisite}}
                                        </p>
                                    </li>
                            </ul>
                        </p-accordionTab>
                    </p-accordion>
                </p-fieldset>
            </p-tabPanel>
            <p-tabPanel  leftIcon="pi pi-book" header="Contenido">
                <p-fieldset legend="Temas y Subtemas">
                    <p-accordion *ngFor="let topic of topics">
                        <p-accordionTab header={{topic.description}} >
                            <p-accordion *ngFor="let subtopic of topic!.children">
                                <ul>
                                    <li>
                                        <p style="display: inline-block;" >{{subtopic.description | titlecase}}</p>
                                    </li>
                                </ul>
                            </p-accordion>
                        </p-accordionTab>
                    </p-accordion>
                </p-fieldset>
            </p-tabPanel>
            <p-tabPanel  leftIcon="pi pi-check-square" header="Pre-requisitos">
                <p-fieldset legend="Pre-requisitos">
                    <div style="margin-bottom: 15px;" *ngFor="let pre of prerequistes; let i = index" >
                        <img class="image-intructor" alt="Card" src="https://victorroblesweb.es/wp-content/uploads/2018/11/angular-bg.png">
                        <h6 style="display: inline-block;" > {{pre.prerequisite!.name | titlecase}}</h6>
                    </div>
                </p-fieldset>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="">
        <p-card class="custom-card" header="{{planificationCourse.course?.code}}"  subheader="{{planificationCourse.course?.name}}" [style]="{width: '350px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img class="image" alt="Card" src="https://victorroblesweb.es/wp-content/uploads/2018/11/angular-bg.png">

                    <div class="free p-input-icon-left" *ngIf="planificationCourse.course?.free">
                        <i style="color:azure;" class="pi pi-money-bill custom-icon"></i>
                        <p style="padding-left: 30px;" class="free-text">Gratuito</p>
                   </div>
                   <div class="free p-input-icon-left" *ngIf="!planificationCourse.course?.free">
                        <i style="color:azure;" class="pi pi-money-bill custom-icon"></i>
                        <p style="padding-left: 30px;" class="no-free-text">Pagado</p>
                    </div>
                    <h3 style="text-align: center;">
                        Empieza: {{planificationCourse.startedAt | date: 'dd/MM/yyyy' }}
                    </h3>
                </ng-template>

                <form style="text-align: center" [formGroup]="formSchedule" (ngSubmit)="roadToRegistration()">
                    <p *ngIf="!registrationControl" 
                        for="schedule"
                        appLabel
                        label="Seleccione el horario:"
                        [required]="isRequired(scheduleField)"
                        [valid]="scheduleField.valid"
                        [touched]="scheduleField.touched"
                        [dirty]="scheduleField.dirty">
                    </p>
                    <p-dropdown
                        *ngIf="!registrationControl"
                        id="schedule"
                        formControlName="schedule"
                        [options]="schedules"
                        [filter]="true"
                        placeholder="Seleccione un horario"
                        [(ngModel)]="selectedSchedule"
                        optionLabel="scheduleName"
                    >
                        <ng-template pTemplate="selectedItem">
                            <div *ngIf="scheduleField.value">
                                <div>{{scheduleField.value?.scheduleName}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            <div>
                                <div>{{item.scheduleName}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>

                    <small appErrorMessage
                           [errors]="scheduleField.errors"
                           [touched]="scheduleField.touched"
                           [dirty]="scheduleField.dirty">
                    </small>

                    <p-divider></p-divider>

                    <div *ngIf="!registrationControl" class="field" style="text-align: center; margin-top:20px">
                        <button pButton pRipple type="button"  label="Matricúlate" class="p-button-rounded"></button>
                    </div>
                    <div *ngIf="registrationControl" class="field" style="text-align: center; margin-top:20px">
                        <button pButton pRipple type="button" label="!Ya estas Matriculado en este curso¡" class="p-button-rounded p-button-success"></button>
                    </div>
                </form>
        </p-card>
    </div>
</div>
