<p-toast position="top-center"></p-toast>

<div class="p-fluid">
    <form [formGroup]="formPlanification" (ngSubmit)="onSubmit()">
      <!-- responsibleCecy -->
      <div class="field">
        <label for="responsibleCecy" appLabel label="Responsable de cecy:"
               [required]="isRequired(responsibleCecyField)"
               [valid]="responsibleCecyField.valid"
               [touched]="responsibleCecyField.touched"
               [dirty]="responsibleCecyField.dirty">
        </label>
        <p-dropdown id="responsibleCecy"
                formControlName="responsibleCecy"
                dataKey="id"
                [options]="cecyResponsibles"
                [filter]="true"
                filterBy="user.fullname"
                placeholder="Seleccione"
                appendTo="body">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="responsibleCecyField.value">
              <div>{{responsibleCecyField.value?.user.fullname}}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div>
              <div>{{item.user.fullname}}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <small appErrorMessage
               [errors]="responsibleCecyField.errors"
               [touched]="responsibleCecyField.touched"
               [dirty]="responsibleCecyField.dirty">
        </small>
      </div>
  
      <p-divider></p-divider>
  
      <!--onSubmit()-->
      <div class="field">
        <button pButton type="submit" pRipple label="Guardar" class="p-button-rounded" icon="pi pi-save"></button>
      </div>
  
      <!--progressBar-->
      <div class="field" *ngIf="progressBar">
        <p-progressBar mode="indeterminate"></p-progressBar>
      </div>
    </form>
  </div>