<div class="p-fluid">
  <form [formGroup]="formPrerequisites" (ngSubmit)="onSubmit()">
    <p-card>
      <div class="grid">
        <div class="col">
          <label for="prerequisites" appLabel label="Prerequisitos académicos"
              [required]="isRequired(prerequisitesField)"
              [valid]="prerequisitesField.valid"
              [touched]="prerequisitesField.touched"
              [dirty]="prerequisitesField.dirty">
          </label>
          <p-multiSelect
            id="prerequisites"
            dataKey="id"
            formControlName="prerequisites"
            [options]="cursos"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            display="chip"
            placeholder="Seleccione el curso"
            >
          </p-multiSelect>
          <small appErrorMessage
            [errors]="prerequisitesField.errors"
            [touched]="prerequisitesField.touched"
            [dirty]="prerequisitesField.dirty">
          </small>
        </div>
        <div class="col-fixed flex align-items-center" style="width:100px">
          <div class="mt-4">
            <button pButton pRipple type="submit" label="Guardar"></button>
          </div>
        </div>
        <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
          <div *ngFor="let item of prerequisitesField.value; let i = index;"
              class="flex align-items-center justify-content-between mb-2">
            <li>{{item.name}}</li>
          </div>
        </div>
      </div>
    </p-card>
  </form>
</div>
