<div class="grid">
  <div class="container">

    <p-toolbar class="filter-options">
      <div class="p-toolbar-group-left">
        <div class="field col p-input-icon-right">
          <div class="p-inputgroup">
            <input id="search" [formControl]="search" (keypress)="filter($event)" type="text" pInputText
              class="inputfield w-full" placeholder="Buscar">
            <button pButton pRipple type="button" label="Refrescar"
                    class="p-badge-info ml-2" icon="pi pi-sync"
                    (click)="loadCourses(paginator.current_page)"></button>
          </div>
        </div>
      </div>
      <div class="p-toolbar-group-right">
        <p-dropdown [options]="periods" [(ngModel)]="selectedPeriods" optionLabel="name">Periodos Electivos</p-dropdown>
      </div>
    </p-toolbar>
  </div>
  <p-card *ngFor="let detailPlanification of detailPlanifications" class="xl:col-4">
    <h1>{{detailPlanification.planification?.course?.name}}</h1>
    <h5>{{detailPlanification.planification?.course?.code}}</h5>
    <h5>{{detailPlanification.planification?.detailSchoolPeriod?.schoolPeriod?.name}}</h5>
    <h5>{{detailPlanification.planification?.course?.modality?.name}}</h5>
    <p-splitButton label="Ingresar" styleClass="p-button-secondary" icon="pi pi-user-edit"
      (onClick)="redirectParticipants(detailPlanification.id)" (onDropdownClick)="select(detailPlanification.id)" [model]="items">
    </p-splitButton>
        <button pButton class="p-button-success ml-2 " label="Temario" icon="pi pi-file"
                (click)="redirectTopics(detailPlanification.planification?.course?.id)"></button>
  </p-card>
</div>
