<div class="grid">
  
    <div class="background bg-gray-100 h-screen px-12">
      <br/>
    <div class="group bg-base-100 shadow-xs rounded-box ">
      <h1 class=" p-7 text-2xl font-bold align-middle" >Registro Fotográfico</h1>
    </div>
      <br/>
<!--       <div class="text-sm breadcrumbs">
        <ul>
          <li><a>Home</a></li>
          <li><a>Documents</a></li>
          <li>Add Document</li>
        </ul>
      </div> -->
      <br/>
      <div class="botones">
        <button class="btn btn-accent" routerLink="../listado-fecha">Regresar</button>
      </div>
      <br/>
      <div class="group bg-base-100 shadow-xs rounded-box ">
        <h1 class=" p-7 text-s font-bold align-middle" >Carpeta de drive:
          <a href="https://drive.google.com/drive/folders/1w1wvP61lbXL9Fu7iJT8W8_l2m-u0Q9IC" class="btn btn-link">Carpeta de Registro Fotográfico</a>
         </h1>
        <h3 class=" pl-7 pb-5 text-s font-bold align-middle">Ingresar con el siguiente formato: Numerodesemana.jpg</h3>
      </div>
  </div>
