<div class="p-fluid">
    <p-pickList 
        [source]="sourceList" 
        [target]="targetList" 
        [responsive]="true"
        [dragdrop]="true"
        sourceHeader="Disponibles"
        targetHeader="Seleccionados"
        [sourceStyle]="{'height':'300px'}"
        [targetStyle]="{'height':'300px'}"
        filterBy="name,lastname">
        <ng-template let-user pTemplate="item">
            <div class="user-item">
                <div class="user-list-detail">

                    <h5 *ngIf="user.user; else userH5 " class="mb-2">{{user.user.name + user.user.lastname}}</h5>
                    <ng-template #userH5>
                        <h5  class="mb-2">{{user.name + user.lastname}}</h5>
                    </ng-template>
                    <i class="pi pi-user"></i>
                </div>
            </div>
        </ng-template>
    </p-pickList>

    <p-divider></p-divider>

    <div class="formgrid grid">
        <!--onSubmit()-->
        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <button pButton pRipple label="Guardar" 
                class="p-button-rounded" 
                icon="pi pi-save" 
                (click)="onSubmit()">
            </button>
        </div>

        <!--progressBar-->
        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12" 
            *ngIf="progressBar">
            <p-progressBar mode="indeterminate"></p-progressBar>
        </div>
    </div>
</div>