<body>
    <button class="btn btn-accent" (click)="nota()">Regresar</button>&nbsp;
  <br>
  <h2 class="text-3xl font-bold light:text-black">
    Registro de Asistencia
  </h2>
  <br>
    <p-button label="Agregar" (click)="redireccionCrear()" styleClass="p-button-success"></p-button>
    <br>
  <div class="relative overflow-x-auto shadow-md">
    <!-- <input type="text" [(ngModel)]="filtroFecha" placeholder="Buscar por fecha"
      class="rounded-lg block w-64 p-2.5 mb-4 bg-white border-b light:bg-gray-800 light:border-gray-700 hover:bg-gray-50 light:hover:bg-gray-600" /> -->

    <table class="w-full text-sm text-left text-gray-500 light:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 light:bg-gray-25 light:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">FECHAS</th>
          <th scope="col" class="px-6 py-3">
            <button pripple="" type="button" icon="pi pi-cog"
              class="p-element p-ripple p-button-rounded p-button-secondary p-button p-component p-button-icon-only"
              ng-reflect-icon="pi pi-cog">
              <span class="p-button-icon pi pi-cog" aria-hidden="true"></span>
            </button>
          </th>
        </tr>
        <tr *ngFor="let fecha of fechas$ | async"
          class="bg-white border-b light:bg-gray-800 light:border-gray-700 hover:bg-gray-50 light:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap light:text-white">
            {{ fecha.fecha }}
          </th>
          <td>
            <label for="my-modal-6" fill="none">
              <button (click)="redireccionar(fecha.id)" icon="pi pi-pencil"
                class="p-element p-ripple p-button-rounded p-button-warning p-button p-component p-button-icon-only"
                ng-reflect-icon="pi pi-pencil">
                <span class="p-button-icon pi pi-pencil" aria-hidden="true"></span>
              </button> </label>&nbsp;
          </td>
        </tr>
      </thead>
    </table>
  </div>
</body>
