<p-toolbar>
  <div class="p-toolbar-group-start gap-2">
    <button
      pButton
      type="button"
      id="volver"
      class="p-button p-button-outlined"
      icon="pi pi-arrow-left"
      (click)="regresar()"
      label="Regresar"
    ></button>
  </div>
</p-toolbar>
<div class="flex m-4">
  <div class="flex-1">
    <h1 class="text-2xl font-bold light:text-black">
      Registro de Evidencias Fotográficas
    </h1>
  </div>
  <p-button
    label="Agregar"
    (click)="createAttendance()"
    styleClass="p-button-raised"
    icon="pi pi-plus"
  ></p-button>
  <div class="absolute top-0 right-0">
    <p-messages></p-messages>
  </div>
</div>

<p-table
  [value]="fechas"
  [responsive]="true"
  class="p-datatable"
  [loading]="(loading$ | async)!"
  [paginator]="true"
  [rows]="5"
>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" class="px-6 py-3">Fechas</th>
      <th scope="col" class="px-6 py-3">Observaciones</th>
      <th scope="col" class="px-6 py-3">Captura</th>
      <th scope="col" class="px-6 py-3">
        Acciones
        <!--         <button
          ripple=""
          type="button"
          icon="pi pi-cog"
          class="p-element p-ripple p-button-rounded p-button-secondary p-button p-component p-button-icon-only"
          ng-reflect-icon="pi pi-cog"
        >
          <span class="p-button-icon pi pi-cog" aria-hidden="true"></span>
        </button> -->
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-fecha>
    <tr>
      <td>
        {{ fecha.fecha | date }}
      </td>
      <td>
        {{ fecha.observaciones }}
      </td>
      <td>
        <div class="thumbnail">
          <img
            class="thumbnail-img"
            src="{{ fecha.evidenciaFotografica }}"
            alt="Evidencia Fotográfica"
            (click)="showModal(fecha.evidenciaFotografica)"
          />
        </div>
      </td>
      <td>
        <div class="flex gap-1">
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            type="submit"
            (click)="deleteAttendance(fecha)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-warning"
            (click)="editAttendanceById(fecha.id)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      Actualmente hay
      {{ fechas ? fechas.length : 0 }}
      fechas registradas
    </div>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" style="width: 100%">No hay registros</td>
    </tr>
  </ng-template>
</p-table>
