<div class="text-center">
  <p-chip styleClass="mr-2">
    <i class="bi bi-file-earmark-person mr-2"></i>
    <small
      >Por aprobar
      {{ kpiModel.toBeApproved }}
    </small></p-chip
  >
  <p-chip styleClass="mr-2">
    <i class="bi bi-file-earmark-break mr-2"></i>
    <small
      >Completado
      {{ kpiModel.completed }}
    </small></p-chip
  >
  <p-chip styleClass="mr-2">
    <i class="bi bi-file-earmark-ruled mr-2"></i>
    <small
      >En proceso
      {{ kpiModel.inProcess }}
    </small></p-chip
  >
  <p-chip styleClass="mr-2">
    <i class="bi bi-file-earmark-excel mr-2"></i>
    <small
      >No aprobado
      {{ kpiModel.notApproved }}
    </small></p-chip
  >
  <p-chip styleClass="mr-2">
    <i class="bi bi-file-earmark-check mr-2"></i>
    <small
      >Aprobado
      {{ kpiModel.approved }}
    </small></p-chip
  >
  <p-chip styleClass="mr-2">
    <i class="bi bi-file-earmark-richtext mr-2"></i>
    <small
      >Culminado
      {{ kpiModel.culminated }}
    </small></p-chip
  >
</div>
