<!--<app-person-toolbar [entityName]="form.name"></app-person-toolbar>-->
<p-toast></p-toast>
<div class="grid justify-center m-4">
  <div class="card shadow-2xl shadow-black rounded-md mt-2">
    <div class="p-fluid m-1">
      <div class="formgrid grid p-8">
        <div class="text-left mb-5">
          <h1 class="text-2xl font-semibold">Formulario de Inscripcion</h1>
        </div>
        <div class="my-4">
          <h4>
            {{ (curso$ | async)?.planification?.name }}
          </h4>
          <!-- <select [(ngModel)]="estudianteSeleccionado" class="select select-primary w-full max-w-xs"> -->
          <!--   <option *ngFor="let estudiante of estudiantes$ | async" [ngValue]="estudiante"> -->
          <!--     {{ estudiante.nombres }} -->
          <!--   </option> -->
          <!-- </select> -->
          <!-- {{ estudianteSeleccionado }} -->
        </div>
        <div class="grid md:grid-cols-3 md:gap-10">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12 mb-4">
            <label class="block mb-2 text-sm font-medium text-gray-900"
              >¿Como se entero del curso?
            </label>
            <!-- [id]="initialForm.publicity.id" -->
            <app-cmb-publicity
              (publicity)="initialForm.publicity = $event"
              [nombre]="'publicity'"
            ></app-cmb-publicity>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12 mb-4">
            <label class="block mb-2 text-sm font-medium text-gray-900"
              >¿En que otro curso le gustaria inscribirse?
            </label>
            <app-cmb-courses
              (idEmitter)="initialForm.otherCourses = $event"
              [id]="initialForm.otherCourses"
            ></app-cmb-courses>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12 mb-4">
            <!-- <app-combobox-publicity (idEmitter)="initialForm.publicity.id=$event" [id]="initialForm.publicity.id"></app-combobox-publicity> -->
            <label class="block mb-2 text-sm font-medium text-gray-900"
              >¿En un futuro le gustaria seguir otro curso?
            </label>
            <select
              name="select"
              class="bg-slate-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              aria-placeholder="Seleccione una opcion"
              style="margin-bottom: 12px"
              required="false"
            >
              <option value="" selected>Seleccione una opcion</option>
              <option value="value1">Desarrollo de Software</option>
              <option value="value2">Modas</option>
              <option value="value3">Arte culinario</option>
            </select>
          </div>
        </div>

        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12 mb-4">
          <label class="block mb-2 text-sm font-medium text-gray-900"
            >El curso esta auspiciado por la institucion a la que
            pertenece:</label
          >
          <label class="relative inline-flex items-center cursor-pointer">
            <span class="ml-3 text-sm font-medium text-gray-900 mr-2">NO</span>
            <input
              type="checkbox"
              value=""
              class="sr-only peer"
              [(ngModel)]="initialForm.sponsoredCourse"
            />
            <div
              class="w-11 h-6 bg-gray-400 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[1.77px] after:right-[41.28px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
            <span class="ml-3 text-sm font-medium text-gray-900">SI</span>
          </label>
        </div>

        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12 mb-4">
          <label class="block mb-2 text-sm font-medium text-gray-900"
            >Nombre del contacto en la institucion:
          </label>
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-400 block w-full p-2.5"
            type="text"
            name=""
            id="contacto"
            placeholder="Ejemplo: Hugo Perez"
            [(ngModel)]="initialForm.institutionContact"
          />
        </div>

        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12 mb-4">
          <label class="block mb-2 text-sm font-medium text-gray-900"
            >A continuacion subir los archivos necesarios para la inscripcion:
          </label>
          <ul
            class="px-3 max-w-md space-y-1 text-gray-700 list-disc list-inside text-sm mb-2"
          >
            <li>
              Certificado de Ingles (PDF).
              <input
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:ring-blue-500 focus:border-blue-400 mt-1 mb-2 p-1"
                id="file_input"
                type="file"
                [(ngModel)]="documents.urlArchivo"
              />
            </li>
          </ul>
        </div>
        <div class="field">
          <button
            (click)="save()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
          >
            Guardar
          </button>
          <button
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
