<!-- <div
  style="background-color: #FBA15E; height: 80px; color: white;"
  class="text-center mt-0 mb-4 flex align-items-center justify-content-center"
>
    <h3>Sistema de Educación Continua (CECY) </h3>
</div> -->

<p-divider align="left">
  <!-- <p-breadcrumb [model]="items" ></p-breadcrumb> -->
  <h4 style="cursor: pointer" onclick="window.history.back()">Regresar</h4>
</p-divider>

<!-- <h4 style="cursor: pointer;" onclick="window.history.back()">Horarios</h4> -->
<!-- <app-planification-form></app-planification-form> -->
<app-detail-planification-list></app-detail-planification-list>
