<div class="h-full w-full">
  <p-card
    [style]="{ width: '50%' }"
    styleClass="flex flex-col items-center justify-center text-center mx-auto"
  >
    <div class="">
      <img src="assets/images/components/common/404-rocket.png" alt="" />
      <div>
        <h1 class="text-red-600 text-2xl">403 ¡Acceso denegado!</h1>
        <small class="text-sm">¡No tiene autorización para acceder!</small>
      </div>
      <div>
        <button
          pButton
          pRipple
          label="Regresar al Login"
          icon="pi pi-arrow-left"
          class="p-button-lg"
          (click)="backLogin()"
        ></button>
      </div>
    </div>
  </p-card>
</div>
