<p-dialog header="Notas del participante" [(visible)]="dialogForm" [maximizable]="true" [modal]="true">
  <app-participant-course-form *ngIf="dialogForm" (dialogForm)="dialogForm=$event"
                               [registration]="selectedRegister"></app-participant-course-form>
</p-dialog>
<p-toolbar class="filter-options">
  <div class="p-toolbar-group-left">
    <div class="field col p-input-icon-right">
      <div class="p-inputgroup">
        <button pButton pRipple type="button" label="Regresar"
                class="p-badge-info ml-2" icon="pi-arrow-left"
                (click)="redirectCourse()"></button>
        <button pButton pRipple type="button" label="Descargar Plantillan"
                class="p-button-info ml-2" icon="pi pi-download"
                (click)="downloadGrades(this.detailPlanificationId)"></button>

        <button pButton pRipple type="button" label="Cargar Notas"
                class="p-button-success ml-2" icon="pi pi-upload"
                (click)="showModalFiles()"></button>
        <p-dialog header="Carga de archivo" [(visible)]="displayModalFiles" [modal]="true">
          <app-view-files [acceptAttributes]="'.xlsx'"
                          [loadingUpload]="loadingUploadFiles"
                          [filesIn]="files"
                          [loadingFiles]="loadingFiles"
                          [paginatorIn]="paginatorFiles"
                          (files)="uploadGrades($event)"
                          (paginatorOut)="loadFiles()"
                          (searchOut)="filterFiles.setValue($event);loadFiles()">
          </app-view-files>
        </p-dialog>
        <button pButton pRipple type="button" label="Asistencias" class="p-button-info  ml-2"
                icon="pi pi-user" (click)="redirectAttendance(this.detailPlanificationId)"></button>
        <button pButton pRipple type="button" label="Refrescar"
                class="p-button-info ml-2" icon="pi pi-sync"
                (click)="loadParticipants(this.detailPlanificationId)"></button>
      </div>
    </div>
  </div>
  <div class="p-toolbar-group-right">
  </div>
</p-toolbar>
<div class="card">
  <h5>Lista de Estudiantes</h5>
  <p-table [columns]="cols" [value]="registrations" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th>
          <button pButton class="p-button-rounded" icon="pi pi-cog"></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          {{rowData['participant']?.user?.username}}
        </td>
        <td>
          {{rowData['participant']?.user?.name}}
        </td>
        <td>
          {{rowData['participant']?.user?.email}}
        </td>
        <td>
          {{rowData['participant']?.user?.phone}}
        </td>
        <td>
          {{rowData['grade1']}}
        </td>
        <td>
          {{rowData['grade2']}}
        </td>
        <td>
          {{rowData['finalGrade']}}
        </td>
        <td>
          <button pButton pRipple class="p-button-rounded p-button-warning" [pTooltip]="'Editar notas'"
                  icon="pi pi-pencil" (click)="showForm(rowData)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
