<div class="surface-ground flex justify-content-center containerFormRecovery">
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      class="surface-card py-8 px-5 sm:px-4 flex flex-column align-items-center"
      style="border-radius: 53px"
    >
      <div class="grid flex flex-column align-items-center">
        <span
          style="size: 1px"
          class="text-center text-900 font-bold text-4xl lg:text-5xl mb-2"
        >
          Crear nueva contraseña
        </span>
        <span class="text-700 mb-4 text-center">
          Ingrese una nueva contraseña para su cuenta</span
        >
        <div class="col-12 col-md-12 col-sm-12 col-xs-12">
          <div class="p-fluid">
            <form [formGroup]="formChangePassword" (ngSubmit)="onSubmit()">
              <div class="field">
                <label
                  appLabel
                  label="Contraseña"
                  [valid]="passwordField.valid"
                  [touched]="passwordField.touched"
                  [dirty]="passwordField.dirty"
                  [required]="isRequired(passwordField)"
                ></label>
                <p-password
                  formControlName="newPassword"
                  [feedback]="false"
                  [toggleMask]="true"
                ></p-password>
                <small
                  appErrorMessage
                  [errors]="passwordField.errors"
                  [touched]="passwordField.touched"
                  [dirty]="passwordField.dirty"
                >
                </small>
              </div>
              <div class="field">
                <label
                  appLabel
                  label="Repita la Contraseña"
                  [valid]="rePasswordField.valid"
                  [touched]="rePasswordField.touched"
                  [dirty]="rePasswordField.dirty"
                  [required]="isRequired(rePasswordField)"
                ></label>
                <p-password
                  type="password"
                  formControlName="confirm_password"
                  [feedback]="false"
                  [toggleMask]="true"
                  class="w-full"
                ></p-password>
                <small
                  appErrorMessage
                  [errors]="rePasswordField.errors"
                  [touched]="rePasswordField.touched"
                  [dirty]="rePasswordField.dirty"
                >
                </small>
              </div>
              <button
                [disabled]="formChangePassword.invalid"
                pButton
                pRipple
                icon=""
                label="Confirmar"
                class="p-button-raised p-button-success mb-4 w-full"
              ></button>
              <div *ngIf="progressBar" class="field">
                <app-progress-bar
                  [message]="messageService.progressBarRequestPasswordReset"
                ></app-progress-bar>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
