<p-toast position="top-center"></p-toast>
<div class="p-fluid">
  <form [formGroup]="formRegistrationStudent" (ngSubmit)="onSubmit()">
    <!--levelInstruction & worked-->
    <div class="formgrid grid">
      <!--levelInstruction-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="levelInstruction" appLabel label="Nivel de Estudio:"
               [required]="isRequired(levelInstructionField)"
               [valid]="levelInstructionField.valid"
               [touched]="levelInstructionField.touched"
               [dirty]="levelInstructionField.dirty">
        </label>
        <p-dropdown id="levelInstruction"
                    formControlName="levelInstruction"
                    dataKey="id"
                    [options]="levelInstructions"
                    [filter]="true"
                    filterBy="name"
                    placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="levelInstructionField.value">
              <div>{{levelInstructionField.value?.name}}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div>
              <div>{{item.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <small appErrorMessage
               [errors]="levelInstructionField.errors"
               [touched]="levelInstructionField.touched"
               [dirty]="levelInstructionField.dirty">
        </small>
      </div>
      <!--worked-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="worked" appLabel label="Trabaja:"
               [required]="isRequired(workedField)"
               [valid]="workedField.valid"
               [touched]="workedField.touched"
               [dirty]="workedField.dirty">
        </label>
        <p-inputSwitch  id="worked" formControlName="worked" class="uppercase"></p-inputSwitch>
        <small appErrorMessage
               [errors]="workedField.errors"
               [touched]="workedField.touched"
               [dirty]="workedField.dirty">
        </small>
      </div>
    </div>

    <!-- company Activity -->
    <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
      <label for="companyActivity" appLabel label="Actividades que desarrolla:"
             [required]="isRequired(companyActivityField)"
             [valid]="companyActivityField.valid"
             [touched]="companyActivityField.touched"
             [dirty]="companyActivityField.dirty">
      </label>
      <textarea  pInputText id="companyActivity" formControlName="companyActivity" class="uppercase"></textarea>
      <small appErrorMessage
             [errors]="companyActivityField.errors"
             [touched]="companyActivityField.touched"
             [dirty]="companyActivityField.dirty">
      </small>
    </div>

    <!--companyEmail & companyAddress-->
    <div class="formgrid grid">
      <!--companyEmail-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="companyEmail" appLabel label="Correo Empresarial:"
               [required]="isRequired(companyEmailField)"
               [valid]="companyEmailField.valid"
               [touched]="companyEmailField.touched"
               [dirty]="companyEmailField.dirty">
        </label>
        <input pInputText id="companyEmail" formControlName="companyEmail" class="uppercase">
        <small appErrorMessage
               [errors]="companyEmailField.errors"
               [touched]="companyEmailField.touched"
               [dirty]="companyEmailField.dirty">
        </small>
      </div>
      <!--companyAddress-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="companyAddress" appLabel label="Dirección de la Empresa:"
               [required]="isRequired(companyAddressField)"
               [valid]="companyAddressField.valid"
               [touched]="companyAddressField.touched"
               [dirty]="companyAddressField.dirty">
        </label>
        <input pInputText id="companyAddress" formControlName="companyAddress" class="uppercase">
        <small appErrorMessage
               [errors]="companyAddressField.errors"
               [touched]="companyAddressField.touched"
               [dirty]="companyAddressField.dirty">
        </small>
      </div>
    </div>
    <!--companyPhone & companySponsored-->
    <div class="formgrid grid">
      <!--companyPhone-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="companyPhone" appLabel label="Número de teléfono:"
               [required]="isRequired(companyPhoneField)"
               [valid]="companyPhoneField.valid"
               [touched]="companyPhoneField.touched"
               [dirty]="companyPhoneField.dirty">
        </label>
        <p-inputNumber [useGrouping]="false" id="companyPhone" formControlName="companyPhone"></p-inputNumber>
        <small appErrorMessage
               [errors]="companyPhoneField.errors"
               [touched]="companyPhoneField.touched"
               [dirty]="companyPhoneField.dirty">
        </small>
      </div>
      <!--companySponsored-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="companySponsored" appLabel label="El Curso es Auspiciado:"
               [required]="isRequired(companySponsoredField)"
               [valid]="companySponsoredField.valid"
               [touched]="companySponsoredField.touched"
               [dirty]="companySponsoredField.dirty">
        </label>
        <p-inputSwitch id="companySponsored" formControlName="companySponsored" class="uppercase"></p-inputSwitch>
        <small appErrorMessage
               [errors]="companySponsoredField.errors"
               [touched]="companySponsoredField.touched"
               [dirty]="companySponsoredField.dirty">
        </small>
      </div>
    </div>
    <!--contactName & companySponsored-->
    <!--contactName-->
    <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
      <label for="contactName" appLabel label="Nombre del Contacto que Auspicia:"
             [required]="isRequired(contactNameField)"
             [valid]="contactNameField.valid"
             [touched]="contactNameField.touched"
             [dirty]="contactNameField.dirty">
      </label>
      <input pInputText id="contactName" formControlName="contactName" class="uppercase">
      <small appErrorMessage
             [errors]="contactNameField.errors"
             [touched]="contactNameField.touched"
             [dirty]="contactNameField.dirty">
      </small>
    </div>

    <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
      <label for="companyName" appLabel label="Nombre la Empresa:"
             [required]="isRequired(companyNameField)"
             [valid]="companyNameField.valid"
             [touched]="companyNameField.touched"
             [dirty]="companyNameField.dirty">
      </label>
      <input pInputText id="companyName" formControlName="companyName" class="uppercase">
      <small appErrorMessage
             [errors]="companyNameField.errors"
             [touched]="companyNameField.touched"
             [dirty]="companyNameField.dirty">
      </small>
    </div>

    <!-- courseKnows -->
    <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
      <label for="courseKnows" appLabel label="Cursos que quieras Aprender :"
             [required]="isRequired(courseKnowsField)"
             [valid]="courseKnowsField.valid"
             [touched]="courseKnowsField.touched"
             [dirty]="courseKnowsField.dirty">
      </label>
      <textarea  pInputText id="courseKnows" formControlName="courseKnows" class="uppercase"></textarea>
      <small appErrorMessage
             [errors]="courseKnowsField.errors"
             [touched]="courseKnowsField.touched"
             [dirty]="courseKnowsField.dirty">
      </small>
    </div>

    <!-- courseKnows -->
    <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
      <label for="courseFollows" appLabel label="Cursos que sigues:"
             [required]="isRequired(courseFollowsField)"
             [valid]="courseFollowsField.valid"
             [touched]="courseFollowsField.touched"
             [dirty]="courseFollowsField.dirty">
      </label>
      <textarea  pInputText id="courseFollows" formControlName="courseFollows" class="uppercase"></textarea>
      <small appErrorMessage
             [errors]="courseFollowsField.errors"
             [touched]="courseFollowsField.touched"
             [dirty]="courseFollowsField.dirty">
      </small>
    </div>

    <!-- typeParticipant -->
    <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
      <label for="typeParticipant" appLabel label="Participante:"
             [required]="isRequired(typeParticipantField)"
             [valid]="typeParticipantField.valid"
             [touched]="typeParticipantField.touched"
             [dirty]="typeParticipantField.dirty">
      </label>
      <p-dropdown id="typeParticipant"
                  formControlName="typeParticipant"
                  dataKey="id"
                  [options]="typeParticipants"
                  [filter]="true"
                  filterBy="name"
                  placeholder="Seleccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="typeParticipantField.value">
            <div>{{typeParticipantField.value?.name}}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div>
            <div>{{item.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <small appErrorMessage
             [errors]="typeParticipantField.errors"
             [touched]="typeParticipantField.touched"
             [dirty]="typeParticipantField.dirty">
      </small>
    </div>


      <!--onSubmit()-->
    <div class="field">
      <button pButton pRipple label="Matricularse" class="p-button-rounded"
              icon="pi pi-save" type="submit"></button>
    </div>

    <!--progressBar-->
    <div class="field" *ngIf="progressBar">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </div>
  </form>
  <div class="field">
    <button pButton pRipple label="Subir archivos" (click)="showForm()" class="p-button-rounded"
            icon="pi pi-save"></button>
  </div>
  <br>
  <br>
</div>
<p-dialog header="Archivos del participante" [(visible)]="dialogForms" [maximizable]="true" [modal]="true">
  <app-view-files
    [acceptAttributes]="'.pdf'"
    [loadingUpload]="loadingUploadFiles"
    [filesIn]="files"
    [loadingFiles]="loadingFiles"
    [paginatorIn]="paginatorFiles"
    (files)="requirements=$event"
    (paginatorOut)="loadFiles()" (searchOut)="filterFiles.setValue($event);loadFiles()">
  </app-view-files>
</p-dialog>
