<app-planification-form
  [showModal]="isVisible"
  [selectPlanification]="selectPlanification"
  (clickClose)="closeModal($event)"
  (addPlanification)="addPlanification($event)"
  [selectedCareer]="selectedCareer"
></app-planification-form>
<h1 class="text-center font-bold text-xl">{{ nameCareer }}</h1>
<p-toolbar>
  <div class="p-toolbar-group-start">
    <app-search
      [selectedCareer]="selectedCareer"
      (planificationCourses)="searchPlanificationCourses($event)"
    ></app-search>
    <div class="ml-3">
      <p-button
        *ngIf="activeButton"
        type="button"
        icon="pi pi-plus"
        styleClass="p-button-success p-button-rounded ml-2"
        pTooltip="Crear nueva planificación del curso"
        (click)="showForm()"
      ></p-button>
    </div>
    <i
      class="p-toolbar-separator pi pi-bars mr-2"
      style="vertical-align: middle"
    ></i>
    <p-button
      type="button"
      pTooltip="Refrescar"
      styleClass="p-button-primary p-button-rounded ml-2"
      icon="pi pi-sync"
      (click)="loadCoursesByCareer()"
      [loading]="(loading$ | async)!"
    ></p-button>
    <!-- <p-button
      *ngIf="selectedCourses?.length"
      type="button"
      pTooltip="Eliminar seleccionados"
      tooltipPosition="bottom"
      styleClass="p-button-danger p-button-rounded ml-4"
      icon="pi pi-trash"
    ></p-button> -->
    <!-- (click)="deleteCourses()" -->
    <app-progress-bar
      *ngIf="progressBarDelete"
      [message]="messageService.progressBarDelete"
      class="ml-2"
    >
    </app-progress-bar>
  </div>
  <div class="p-toolbar-group-end">
    <p-dropdown
      [formControl]="career"
      [(ngModel)]="selectedCareer"
      [options]="careers"
      placeholder="Seleccione una carrera"
      class="ml-2"
      [style]="{ width: '260px' }"
      optionValue="id"
      optionLabel="name"
      (onChange)="onchange($event)"
    >
    </p-dropdown>
  </div>
  <app-kpi
    [planificationCourses]="planificationCourses"
    class="mt-4 mb-4 ml-auto mr-auto"
  ></app-kpi>
</p-toolbar>
<p-card>
  <p-table
    *ngIf="selectCareer"
    dataKey="id"
    [columns]="cols"
    [responsive]="true"
    [value]="planificationCourses"
    [paginator]="true"
    [rows]="5"
    [loading]="(loading$ | async)!"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th id="" style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th id="" *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th class="text-center">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-secondary"
            icon="pi pi-cog"
          ></button>
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-planification
      let-columns="columns"
      let-rowIndex="rowIndex"
    >
      <tr [pSelectableRow]="planification" [pSelectableRowIndex]="rowIndex">
        <td>
          <p-tableCheckbox [value]="planification"></p-tableCheckbox>
        </td>
        <td>{{ planification.codeCourse }}</td>
        <td>{{ planification.name }}</td>
        <td>{{ planification.durationTime }}</td>
        <td>
          {{ planification.user.names }} {{ planification.user.lastnames }}
        </td>
        <td>
          <p-tag
            [icon]="
              planification.state === 'create' ? 'pi pi-check' : 'pi pi-clock'
            "
            [rounded]="true"
            value="{{
              planification.state ? planification?.state : 'sin estado'
            }}"
            [severity]="getSeverity(planification.state)"
          >
          </p-tag>
        </td>

        <td>
          <div class="flex gap-1 justify-center">
            <!-- <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              type="submit"
              (click)="deletePlanification(planification)"
            ></button> -->
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-warning"
              (click)="editPlanification(planification)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Actualmente hay
        {{ planificationCourses ? planificationCourses.length : 0 }}
        planificaciones
      </div>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="width: 100%">No hay planificaciones</td>
      </tr>
    </ng-template>
  </p-table>
  <p *ngIf="!selectCareer" class="text-center information text-xl">
    No tiene planificaciones, seleccione una carrera para <br />
    empezar y agregue una nueva planificación!
  </p>
</p-card>
