<p-dialog header="Imagen del Curso" [(visible)]="displayModalImages" [modal]="true">
</p-dialog>
  <div class="card">
    <p-toolbar class="filter-options">
      <div class="p-toolbar-group-left">
        <div class="field col p-input-icon-right">
          <div class="p-inputgroup">
            <button pButton pRipple type="button" label="Cargar Imagen"
                    class="p-button-rounded ml-2" icon="pi pi-sync"
                    (click)="getPhotographicRecords()"></button>
          </div>
        </div>
      </div>
    </p-toolbar>
          <form>
            <div class="container">
              <div class="formgrid grid">
                <p-card class=" xl:col-12 " >
                  <div class="flex flex-row flex-wrap card-container blue-container">
                    <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
                      <b>Imagen: </b> <br>
                      <div class="card-container blue-container flex align-items-center justify-content-start">
                        <img style="width: 500px;height: 200px" onerror="this.src = 'assets/images/components/records/classes.jpg' " [src]="STORAGE_URL + '/' + imageField.value" alt="">
                      </div>

                    </div>
                    <div>
                      <p-table [columns]="cols" [value]="records" responsiveLayout="scroll">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns">
                              {{col.header}}
                            </th>
                            <th>
                              <button pButton class="p-button-rounded" icon="pi pi-cog" [pTooltip]="'Acciones'"></button>
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                          <tr>
                            <td>
                              <img style="width: 100px;height: 100px" [src]="this.IMAGE_URL + '/' + rowData['image']" alt="">
<!--                              {{rowData['image']}}-->
                            </td>
                            <td>
                              {{rowData['description']}}
                            </td>
                            <td>
                              {{rowData['numberWeek']}}
                            </td>
                            <td>
                              {{rowData['registeredAt']}}
                            </td>
                            <td>
                              <button pButton type="text" class="p-button-success" icon="pi pi-upload"
                                      [pTooltip]="'Cargar imagen'"
                                      (click)="showModalImages(rowData['id'])"></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
          </form>
  </div>
