<!-- <div class="layout-wrapper">
  <app-topbar></app-topbar>
  <div class="layout-main-container">
    <div class="layout-main">
      <p-card [style]="{ width: 'full-width' }" styleClass="styleClass">
        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        <div class="grid p-5">
          <div class="col-12 col-md-6 col-xl-6 col-sm-12 text-center">
            <p-image
              width="400"
              height="400"
              src="assets/images/components/default.png"
            ></p-image>
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-raised p-button-rounded p-button-warning"
            ></button>
            <div class="text-900 font-bold text-3xl lg:text-xl mt-3">
              Anderson Joel Parra Rocha
            </div>
          </div>
          <div
            class="col-12 col-md-6 col-xl-6 col-sm-12 flex justify-content-center"
          >
            <p-card
              header="Detalles del usuario"
              [style]="{ width: '550px' }"
              styleClass="styleClass"
            >
              <div class="field">
                <label for="firstname1">Correo Electrónico:</label>
                <input
                  id="firstname1"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                />
              </div>
              <div class="field">
                <label for="firstname1">Nombres:</label>
                <input
                  id="firstname1"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                />
              </div>
              <div class="field">
                <label for="lastname1">Apellidos:</label>
                <input
                  id="lastname1"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                />
              </div>
              <div class="field">
                <label for="lastname1">Ciudad:</label>
                <input
                  id="lastname1"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                />
              </div>
              <div class="field">
                <label for="lastname1">Teléfono:</label>
                <input
                  id="lastname1"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                />
              </div>
              <div class="field flex justify-content-center">
                <button pButton pRipple type="button" label="Guardar"></button>
              </div>
            </p-card>
          </div>
        </div>
      </p-card>
    </div>
    <app-footer></app-footer>
  </div>
  <div class="layout-mask"></div>
</div> -->
