<p-dialog
  header="{{ titleModal }} planificación"
  [(visible)]="dialogForm"
  [maximizable]="true"
  [modal]="true"
  (onHide)="closeModal()"
  [style]="{ width: '490px' }"
>
  <div class="container">
    <div class="p-fluid">
      <form [formGroup]="formPlanification" (ngSubmit)="onSubmit()">
        <!-- lectiveYear -->
        <div class="field">
          <label
            for="name"
            appLabel
            label="Año lectivo:"
            [required]="isRequired(lectiveYear)"
            [valid]="lectiveYear.valid"
            [touched]="lectiveYear.touched"
            [dirty]="lectiveYear.dirty"
          >
          </label>
          <input
            placeholder="Ej. 2023-02-4"
            pInputText
            id="name"
            formControlName="lectiveYear"
            class="uppercase"
          />
          <small
            appErrorMessage
            [errors]="lectiveYear.errors"
            [touched]="lectiveYear.touched"
            [dirty]="lectiveYear.dirty"
          >
          </small>
        </div>
        <!-- CodeCourse -->
        <div class="field">
          <label
            for="name"
            appLabel
            label="Código del curso:"
            [required]="isRequired(codeCourse)"
            [valid]="codeCourse.valid"
            [touched]="codeCourse.touched"
            [dirty]="codeCourse.dirty"
          >
          </label>
          <input
            placeholder="Ej. D2DS-M"
            pInputText
            id="name"
            formControlName="codeCourse"
            class="uppercase"
          />
          <small
            appErrorMessage
            [errors]="codeCourse.errors"
            [touched]="codeCourse.touched"
            [dirty]="codeCourse.dirty"
          >
          </small>
        </div>

        <!--name-->
        <div class="field">
          <label
            for="name"
            appLabel
            label="Nombre del curso:"
            [required]="isRequired(nameField)"
            [valid]="nameField.valid"
            [touched]="nameField.touched"
            [dirty]="nameField.dirty"
          >
          </label>
          <input
            placeholder="Ej. Desarrollo de software"
            pInputText
            id="name"
            formControlName="name"
            class="uppercase"
          />
          <!-- <div class="grid">
            <div class="col-11">
              <input
                *ngIf="state"
                placeholder="Ej. Desarrollo de software"
                pInputText
                id="name"
                formControlName="name"
                class="uppercase mb-2"
              />
              <p-dropdown
                id="responsible"
                formControlName="name"
                dataKey="id"
                [options]="responsibles"
                [filter]="true"
                filterBy="user.name"
                placeholder="Seleccione"
                styleClass="w-100"
              >
                <ng-template pTemplate="selectedItem">
                  <div *ngIf="responsibleField.value">
                    <div>{{ responsibleField.value?.user.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-item pTemplate="item">
                  <div>
                    <div>{{ item.user.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-1 flex justify-content-center">
              <p-button
                type="button"
                [icon]="!state ? 'pi pi-plus' : 'pi pi-save'"
                styleClass="p-button-secondary p-button-rounded ml-2"
                pTooltip="Agregar curso"
                (onClick)="selectCourse()"
              ></p-button>
            </div>
          </div> -->
          <small
            appErrorMessage
            [errors]="nameField.errors"
            [touched]="nameField.touched"
            [dirty]="nameField.dirty"
          >
          </small>
        </div>

        <!--duration-->
        <div class="field">
          <label
            for="duration"
            appLabel
            label="Duración (horas):"
            [required]="isRequired(durationField)"
            [valid]="durationField.valid"
            [touched]="durationField.touched"
            [dirty]="durationField.dirty"
          >
          </label>
          <p-inputNumber
            id="duration"
            formControlName="durationTime"
            [min]="50"
            [max]="200"
            [showButtons]="true"
          ></p-inputNumber>
          <small
            appErrorMessage
            [errors]="durationField.errors"
            [touched]="durationField.touched"
            [dirty]="durationField.dirty"
          >
          </small>
        </div>

        <!--responsible-->
        <div class="field">
          <label
            for="responsible"
            appLabel
            label="Responsable de curso:"
            [required]="isRequired(responsibleField)"
            [valid]="responsibleField.valid"
            [touched]="responsibleField.touched"
            [dirty]="responsibleField.dirty"
          >
          </label>
          <p-dropdown
            id="responsible"
            formControlName="userId"
            dataKey="id"
            [options]="users"
            placeholder="Seleccione"
            optionLabel="names"
            optionValue="id"
          >
          </p-dropdown>
          <small
            appErrorMessage
            [errors]="responsibleField.errors"
            [touched]="responsibleField.touched"
            [dirty]="responsibleField.dirty"
          >
          </small>
        </div>

        <div class="field">
          <label
            for="name"
            appLabel
            label="Fecha de inicio:"
            [required]="isRequired(startDate)"
            [valid]="startDate.valid"
            [touched]="startDate.touched"
            [dirty]="startDate.dirty"
          >
          </label>
          <p-calendar
            inputId="calendar"
            [showIcon]="true"
            placeholder="Calendario"
            dateFormat="yy-mm-dd"
            [showButtonBar]="true"
            formControlName="startDate"
          >
            ></p-calendar
          >
          <small
            appErrorMessage
            [errors]="startDate.errors"
            [touched]="startDate.touched"
            [dirty]="startDate.dirty"
          >
          </small>
        </div>

        <div class="field">
          <label
            for="name"
            appLabel
            label="Fecha de finalización:"
            [required]="isRequired(finishDate)"
            [valid]="finishDate.valid"
            [touched]="finishDate.touched"
            [dirty]="finishDate.dirty"
          >
          </label>
          <p-calendar
            inputId="calendar"
            [showIcon]="true"
            placeholder="Calendario"
            dateFormat="yy-mm-dd"
            [showButtonBar]="true"
            formControlName="finishDate"
          ></p-calendar>
          <small
            appErrorMessage
            [errors]="finishDate.errors"
            [touched]="finishDate.touched"
            [dirty]="finishDate.dirty"
          >
          </small>
        </div>
        <div class="field">
          <label
            for="name"
            appLabel
            label="A quien va dirigido:"
            [required]="isRequired(finishDate)"
            [valid]="finishDate.valid"
            [touched]="finishDate.touched"
            [dirty]="finishDate.dirty"
          >
          </label>
          <p-dropdown
            id="responsible"
            formControlName="roleId"
            dataKey="id"
            [options]="roles"
            placeholder="Seleccione"
            optionLabel="name"
            optionValue="id"
          >
          </p-dropdown>
          <small
            appErrorMessage
            [errors]="finishDate.errors"
            [touched]="finishDate.touched"
            [dirty]="finishDate.dirty"
          >
          </small>
        </div>
        <p-divider></p-divider>

        <!--onSubmit()-->
        <div class="field">
          <button
            pButton
            type="submit"
            pRipple
            label="{{ titleButton }}"
            class="p-button-rounded"
            icon="pi pi-save"
            [disabled]="formPlanification.invalid"
          ></button>
        </div>

        <!--progressBar-->
        <div class="field" *ngIf="progressBar">
          <p-progressBar mode="indeterminate"></p-progressBar>
        </div>
      </form>
    </div>
  </div>
</p-dialog>
