<app-role-form
  [showModal]="isVisible"
  [selectedRol]="selectedRole"
  (clickClose)="closeModal($event)"
  (addRole)="addRole($event)"
></app-role-form>
<div class="flex justify-center items-center">
  <p-card class="w-full">
    <h2 class="text-xl text-center">
      <i class="fa-solid fa-users-gear fa-xl"></i>
      <strong class="ml-1">Lista de Roles del sistema</strong>
    </h2>
  </p-card>
</div>
<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      pRipple
      type="button"
      label="Crear rol"
      class="p-button-success p-button-rounded"
      icon="pi pi-plus"
      (click)="showForm()"
    ></button>
    <!-- <button
        pButton
        pRipple
        type="button"
        label="Refrescar"
        class="p-button-rounded ml-2"
        icon="pi pi-sync"
      ></button> -->
    <!-- (click)="loadUsers(paginator.current_page)" -->
    <p-chip class="ml-4">
      <i class="fa-solid fa-users-gear mr-2"></i>
      <small
        >Total de roles:
        {{ roles ? roles.length : 0 }}
      </small>
    </p-chip>
    <!-- <button
        *ngIf="selectedUsers?.length"
        pButton
        pRipple
        type="button"
        label="Eliminar seleccionados"
        class="p-button-danger p-button-rounded ml-2"
        icon="pi pi-trash"
        ></button> -->
    <!-- (click)="deleteUsers()" -->
    <app-progress-bar
      *ngIf="progressBarDelete"
      [message]="messageService.progressBarDelete"
      class="ml-2"
    ></app-progress-bar>
  </div>
  <div class="p-toolbar-group-right">
    <div class="p-inputgroup">
      <input
        pInputText
        id="search"
        [formControl]="search"
        (keypress)="filter($event)"
        placeholder="Buscar por nombre del rol"
      />
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-search"
        (click)="filter($event)"
      ></button>
    </div>
  </div>
</p-toolbar>
<p-card>
  <p-table
    dataKey="id"
    [columns]="cols"
    [responsive]="true"
    [value]="roles"
    [paginator]="true"
    [rows]="5"
    [loading]="(loading$ | async)!"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th class="text-center">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-secondary"
            icon="pi pi-cog"
          ></button>
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-roles
      let-columns="columns"
      let-rowIndex="rowIndex"
    >
      <tr [pSelectableRow]="roles" [pSelectableRowIndex]="rowIndex">
        <td>
          <p-tableCheckbox [value]="roles"></p-tableCheckbox>
        </td>
        <td>{{ roles.name }}</td>
        <td>{{ roles.description }}</td>
        <td>{{ roles.createdAt | date }}</td>
        <td>{{ roles.updateAt | date }}</td>

        <td>
          <div class="flex gap-1">
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              type="submit"
              (click)="deleteRole(roles)"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-warning"
              (click)="editRole(roles)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Actualmente hay
        {{ roles ? roles.length : 0 }}
        roles
      </div>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="width: 100%">No hay roles</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
